.containerVacancies {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vw;
  @media (max-width: 768px) {
    margin-bottom: 60%;
  }
}

.text{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #463A3A;
  font-family: "DM Serif Display", serif;
  font-size: 1.8vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2vw;
  .tx1{
    margin-bottom: 1%;
  }
  @media (max-width: 768px) {
    width: 80%;
    font-size: 4vw;
    line-height: 4.5vw;
    .tx1{
      margin-bottom: 5%;
    }
  }
}

.become{
  position: absolute;
  top: 13%;
  right: 7%;
  width: 22%;
  transform: rotate(3deg);
  color: #000;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 3vw;
  font-style: italic;
  font-weight: 700;
  line-height: 2.8vw;
  @media (max-width: 768px) {
    top: 33%;
    right: 2%;
    width: 40%;
    font-size: 4.5vw;
    line-height: 4vw;
    transform: rotate(3deg);
  }
}

.boxGreen{
  position: absolute;
  top: 20%;
  right: 0;
  width: 30%;
  @media (max-width: 768px) {
    top: 40%;
    right: 0;
    width: 50%;
  }
}

.star{
  position: absolute;
  top: 20%;
  right: 21%;
  width: 9%;
}

.oval{
  position: absolute;
  top: 15%;
  right: 25%;
  width: 16%;
  height: 48%;
  transform: rotate(-35deg);
  flex-shrink: 0;
  border-radius: 168.874px;
  background: #FFCCEB;
  box-shadow: 0px 8.444px 16.887px 0px rgba(71, 75, 109, 0.54);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;

  color: #000;
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-weight: 400;
  transition: transform 0.4s ease;
  .name{
    font-size: 2.5vw;
    text-transform: capitalize;
  }
  .count{
    font-size: 4vw;
  }
  @media (max-width: 768px) {
    top: 84%;
    right: 39%;
    width: 23%;
    height: 67%;
    padding: 7% 0;
    .name{
      font-size: 3.5vw;
      text-transform: capitalize;
    }
    .count{
      font-size: 6.5vw;
    }
  }
}
.oval:hover {
  transform: rotate(-35deg) scale(1.1);
}

.rectangle{
  position: absolute;
  top: 16.5%;
  left: 30%;
  width: 14.5%;
  height: 52.2%;
  transform: rotate(73deg);
  border-radius: 8.444px;
  background: #F6889A;
  box-shadow: 0px 8.444px 16.887px 0px rgba(71, 75, 109, 0.54);

  color: #000;
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-weight: 400;
  transition: transform 0.4s ease;
  .name{
    position: absolute;
    top: 20%;
    left: 39%;
    transform: rotate(-90deg);
    font-size: 2.5vw;
  }
  .count{
    position: absolute;
    transform: rotate(-90deg);
    font-size: 4vw;
    top: 11%;
    left: 15%;
  }
  @media (max-width: 768px) {
    width: 20%;
    height: 65%;
    border-radius: 2px;
    top: 51.5%;
    left: 5%;
    font-style: normal;
    .name{
      top: 31%;
      left: 5%;
      font-size: 5vw;
    }
    .count{
      font-size: 6.5vw;
      top: 14%;
      left: -3%;
    }
  }
}

.rectangle:hover {
  transform: rotate(73deg) scale(1.1);
}

.disk{
  position: absolute;
  width: 22%;
  height: 22%;
  top: 44%;
  left: 46%;
  transition: transform 0.4s ease;
  .image{
    width: 100%;
    height: 100%;
  }
  .name{
    position: absolute;
    top: 33%;
    left: 25%;
    transform: rotate(12deg);
    font-size: 2.5vw;
  }
  .count{
    position: absolute;
    transform: rotate(12deg);
    font-size: 3vw;
    top: 51%;
    left: 40%;
  }
  @media (max-width: 768px) {
    width: 31%;
    height: auto;
    top: 97%;
    left: 63%;
    .name{
      top: 29%;
      left: 27%;
      font-size: 4vw;
    }
    .count{
      font-size: 6.5vw;
      top: 49%;
      left: 30%;
    }
  }
}

.disk:hover {
  transform: scale(1.1);
}

.pyramid{
  position: absolute;
  width: 28%;
  top: 20%;
  left: 20%;
  transition: transform 0.4s ease;
  .image{
    width: 100%;
    height: 100%;
  }
  .name{
    position: absolute;
    top: 33%;
    left: 25%;
    transform: rotate(-5deg);
    font-size: 2.5vw;
  }
  .count{
    position: absolute;
    transform: rotate(-6deg);
    font-size: 3.5vw;
    top: 55%;
    left: 48%;
  }
  @media (max-width: 768px) {
    width: 45%;
    top: 36%;
    left: -6%;
    z-index: -1;
    .name{
      font-size: 4vw;
    }
    .count{
      font-size: 5.5vw;
    }
  }
}

.pyramid:hover {
  transform: scale(1.1);
}

.subtract{
  position: absolute;
  width: 43%;
  height: 41%;
  top: 21%;
  left: -4%;
  transition: transform 0.4s ease;
  .image{
    width: 100%;
    height: 100%;
  }
  .name{
    position: absolute;
    top: 25%;
    left: 28%;
    transform: rotate(25deg);
    font-size: 2.5vw;
  }
  .count{
    position: absolute;
    transform: rotate(25deg);
    font-size: 3.5vw;
    top: 34%;
    left: 38%;
  }
  @media (max-width: 768px) {
    width: 65%;
    height: 52%;
    top: 101%;
    left: -5%;
    .name{
      top: 31%;
      left: 26%;
      font-size: 4.5vw;
    }
    .count{
      font-size: 6vw;
      top: 42%;
      left: 33%;
    }
  }
}
.subtract:hover {
  transform: scale(1.1);
}
