.containerMobile {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainPhotoSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imagesWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.slideContainer {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}

.scaleAnimation {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  border-radius: 3.4vw;
}

.scaleAnimation:hover {
  //transform: scale(1.1);
}






