.containerBeforeFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -76%;
  z-index: -5;
  @media (max-width: 768px) {
    margin-top: -35%;
  }
}

.group{
  width: 100%;
  z-index: -1;
  @media (max-width: 768px) {
    margin-top: 40%;
  }
}

.substanceRightConteiner{
  position: absolute;
  top: 20%;
  right: 0;
  width: 34%;
  .substanceRight{
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    opacity: 0.5;
    top: 10%;
    right: 0;
    width: 44%;
  }
}

.substanceLeftConteiner{
  position: absolute;
  top: 42%;
  left: 0;
  width: 40%;
  .substanceLeft{
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    top: 42%;
    left: 0;
    width: 70%;
  }
}

.starWhite{
  position: absolute;
  top: 34%;
  right: 83%;
  width: 9%;
}

.starBlack{
  position: absolute;
  top: 44%;
  right: 27%;
  width: 6%;
}

.containerInfo{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 80%;
  left: 5%;
  top: 50%;
  @media (max-width: 768px) {
    top: 30%;
    left: 5%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.leftInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8vw;
  span{
    font-size: 2vw;
  }
  .tx2{
    margin-top: 2%;
    margin-left: 33%;
  }
  @media (max-width: 768px) {
    width: 100%;
    font-size: 4vw;
    line-height: 4.2vw;
    span{
      font-size: 4vw;
    }
    .tx1{
      margin-right: 10%;
    }
    .tx2{
      margin-top: 2%;
      margin-left: 30%;
      text-align: right;
    }
  }

}

.rightInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.8vw;
  span{
    font-size: 2vw;
  }
  .tx1{
    margin-top: 9%;
    margin-right: 11%;
  }
  .tx2{
    margin-top: 2%;
    margin-left: 11%;
  }
  @media (max-width: 768px) {
    width: 100%;
    font-size: 3.5vw;
    line-height: 4.4vw;
    span{
      font-size: 4.4vw;
    }
    .tx1{
      margin-right: 10%;
      text-align: left;
    }
    .tx2{
      margin-top: 2%;
      margin-left: 11%;
    }
  }
}

.containerIcon{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8%;
  margin-left: 20%;
  .icon{
    width: 8%;
  }
}


