.containerBenefits {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  @media (max-width: 768px) {
  }
}

.title{
  width: 52.2%;
  margin-top: 11.17%;
  margin-left: 29.5%;
  border-radius: 9.3vw 0 0 0;
  border: 0.11vw solid #FFF;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(3.3vw);
  @media (max-width: 768px) {
    width: 84.3%;
    margin-top: 0;
    margin-left: 15.625%;
    border-radius: 21.8vw 0 0 0;
    border: 0.3vw solid #FFF;
    backdrop-filter: blur(0.8vw);
  }
  .tx1{
    margin-top: 4.4%;
    margin-left: 35.5%;
    transform: rotate(2deg);
    color: #579A7A;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      margin-left: 18.5%;
       font-size: 4.375vw;
    }
  }
  .tx2{
    margin-top: 1.1%;
    margin-left: 6%;
    width: 42.8%;
    transform: rotate(-2deg);
    color: #576197;
    font-family: "DM Serif Display", serif;
    font-size: 1.8vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8vw;
    @media (max-width: 768px) {
      width: 62%;
      margin-top: 3.1%;
      margin-left: 3%;
      margin-bottom: 7%;
      font-size: 4.375vw;
      line-height: 4vw;
    }
  }
  .tx3{
    margin: 3% 0 5% 20.5%;
    color: #5449D9;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8vw;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
}

.benefit{
  padding: 1.3% 6%;
  justify-content: center;
  align-items: center;
  transform: rotate(-2deg);
  border-radius: 2.5vw;
  border: 0.11vw solid #FFF;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.36vw);
  color: #284E88;
  font-family: "DM Serif Display", serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  @media (max-width: 768px) {
    padding: 4% 19%;
    border-radius: 7.8vw;
    border: 0.45vw solid #ffffff;
    backdrop-filter: blur(1.125vw);
    font-size: 6.25vw;
  }
}

.schedule{
  margin-top: 1.5%;
  margin-left: 31%;
  @media (max-width: 768px) {
    width: 118%;
    margin-top: 4.7%;
    margin-left: 2%;
  }
}

.salary{
  margin-top: 1.3%;
  margin-left: 40.5%;
  padding: 1.3% 7.3%;
  transform: rotate(3deg);
  color: #288888;
  @media (max-width: 768px) {
    width: 90%;
    padding: 4% 20%;
    margin-top: 4%;
    margin-left: 31%;
  }
}

.bonuses{
  margin-top: 0.5%;
  margin-left: 25.5%;
  @media (max-width: 768px) {
    margin-top: 1%;
    margin-left: -16%;
  }
}

.development{
  margin-top: 2%;
  margin-left: 27.4%;
  padding: 1.3% 7.3%;
  transform: rotate(-1deg);
  color: #288888;
  @media (max-width: 768px) {
    width: 106%;
    padding: 5% 11%;
    margin-top: 1.5%;
    margin-left: 10%;
  }
}

.customButton{
  margin: 3% 0 10% 45%;
  padding: 1.9% 1.6% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(185, 249, 233, 0.70) 22%, rgba(193, 251, 255, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #1E926F!important;
  @media (max-width: 768px) {
    margin: 3% 0 10% 35%;
    padding: 6% 5% !important;
    font-size: 7.5vw;
  }
}

.cube{
  position: absolute;
  width: 40%;
  top: 0;
  left: -25.9%;
  opacity: 0.2;
  filter: blur(0.46vw);
  @media (max-width: 768px) {
    display: none;
  }
}

.glassLeft{
  position: absolute;
  width: 25.72%;
  top: 9.3%;
  left: 8.6%;
  @media (max-width: 768px) {
    width: 56.72%;
    top: -1.7%;
    left: -30.4%;
  }
}

.glassCenter{
  position: absolute;
  width: 30.72%;
  top: 28.3%;
  left: 58.6%;
  transform: rotate(7deg);
  opacity: 0.2;
  z-index: -1;
  @media (max-width: 768px) {
    width: 61.72%;
    top: 32.3%;
    left: 71.6%;
    opacity: 1;
  }
}

.glassRight{
  position: absolute;
  width: 28.72%;
  top: 57.3%;
  right: -9.4%;
  transform: rotate(48deg);
  @media (max-width: 768px) {
    width: 75.72%;
    top: 55.3%;
    right: 63.6%;
  }
}

.blur{
  position: absolute;
  width: 15.5%;
  height: 15.5vw;
  top: 57.3%;
  left: 16.6%;
  border-radius: 15.5%;
  background: #C5FCFF;
  filter: blur(2.2vw);
  z-index: -1;
}

