.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  overflow: hidden;
  margin-bottom: -15%;
  background: linear-gradient(180deg, #DFF8FF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.menu{
  background: linear-gradient(90deg, #E0FBFF 0%, #D4E8FF 100%);
  button{
    color: #1F2260;
  }
}

.burgerMenu{
  background: #D4E8FF!important;
}

.title{
  width: 50.53%;
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
  transform: rotate(-2deg);
  border-radius: 3.85vw;
  border: 0.18vw solid #ffffff;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.44vw);

  color: #B40E5E;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-style: italic;
  z-index: 5;
  @media (max-width: 768px) {
    width: 92.5%;
    margin-top: 7.5%;
    margin-left: 2%;
    border-radius: 9vw;
    border: 0.45vw solid #ffffff;
    backdrop-filter: blur(1.1vw);
  }
  .text1{
    width: 69.2%;
    margin-top: 4.8%;
    margin-left: 9.2%;
    font-family: Trispace, sans-serif;
    font-size: 5.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(285deg, #315FD3 27.85%, #9BFFBD 114.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 768px) {
      width: 85.2%;
      font-size: 12.5vw;
    }
  }
  .text2{
    width: 44.4%;
    margin-top: -10%;
    margin-left: 49%;
    margin-bottom: 5%;
    text-align: right;
    font-family: "PT Mono", monospace;
    font-size: 4.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @media (max-width: 768px) {
      width: 54.4%;
      margin-left: 39%;
      font-size: 10vw;
      background: linear-gradient(297deg, #459E8E 12.42%, #315FD3 83.86%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.btnExtra{
  padding: 1.29% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5vw;
  border: 0.13vw solid #FFF;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.36vw);

  color: #288888;
  font-family: "DM Serif Display", serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  z-index: 4;
  @media (max-width: 768px) {
    padding: 4% 25%;
    border-radius: 7.8vw;
    border: 0.45vw solid #FFF;
    backdrop-filter: blur(1.1vw);
    font-size: 6.25vw;
  }
}

.btnVacancies{
  position: absolute;
  top: 36.6vw;
  right: 4.47vw;
  color: #284E88;
  @media (max-width: 768px) {
    position: relative;
    margin-top: 5.6%;
    margin-left: 33%;
    top: auto;
  }
}

.btnBenefits{
  position: absolute;
  top: 43vw;
  right: 19vw;
  padding: 1.29% 5%;
  @media (max-width: 768px) {
    position: relative;
    padding: 4% 15%;
    margin-top: 2%;
    margin-left: 76%;
    top: auto;
  }
}

.btnFeedback{
  position: absolute;
  top: 38.8vw;
  right: 37.5vw;
  color: #284E88;
  @media (max-width: 768px) {
    position: relative;
    margin-top: 3%;
    margin-left: 27%;
    top: auto;
  }
}

.btnQA{
  position: relative;
  margin-top: 4.4vw;
  margin-left: 25.5%;
  margin-bottom: 5%;
  @media (max-width: 768px) {
    margin-top: 2%;
    margin-left: -16%;
    top: auto;
  }
}

.cube{
  position: absolute;
  width: 56.5%;
  top: 3.4vw;
  left: 58.6%;
  opacity: 0.5;
  filter: blur(0.66vw);
  @media (max-width: 768px) {
    width: 100%;
    top: 43.3vw;
    left: 29.6%;
  }
}

.branch{
  position: absolute;
  width: 23.7%;
  top: 17.24vw;
  left: -11.8%;
  transform: rotate(48deg);
  @media (max-width: 768px) {
    width: 55.625%;
    top: 59vw;
    left: -24.8%;
    z-index: 2;
  }
}


