.containerFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  margin-top: 5vw;
  @media (max-width: 768px) {
    margin-top: 15.3vw;
  }
}

.djosu{
  display: none;
  @media (max-width: 768px) {
    display: block;
    width: 43%;
    margin-bottom: -9%;
  }
}

.title{
  color: #198953;
  font-family: "DM Serif Display", serif;
  font-size: 1.2vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8vw;
}

.title1{
  width: 35%;
  height: 7.7vw;
  margin-left: 8%;
  transform: rotate(-2.066deg);
  @media (max-width: 768px) {
    display: none;
  }
}

.title2{
  width: 30%;
  height: 9.6vw;
  margin: -6.7vw 3.7% 0 auto;
  transform: rotate(2.033deg);
  @media (max-width: 768px) {
    display: none;
  }
}

.feedback1{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 26.2%; // 591px;
  margin-top: 2vw;
  margin-left: 6.6%;
  border: 0.16vw solid #ffffff;
  border-radius: 0.45vw;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.26) 100%);
  backdrop-filter: blur(0.4vw);
  @media (max-width: 768px) {
    width: 92.5%; // 296px;
    margin-left: 2%;
    border: 0.45vw solid #ffffff;
    backdrop-filter: blur(1.1vw);
    border-radius: 1.5vw;
  }
  .photo{
    width: 100%;
    display: flex;
    height: 8.1vw;
    flex-direction: row;
    @media (max-width: 768px) {
      height: 28.75vw;
    }
    .imgByPhoto{
      width:39%;
      height: 100%;
      margin-right: -4%;
      z-index: 1;
    }
    .photo1{
      width: 64.5%;
      height: 60%;
      margin-top: 8.5%;
      border-radius: 0.45vw;
      @media (max-width: 768px) {
        border-radius: 1.5vw;
      }
    }
  }
  .name{
    margin-top: 3%;
    margin-left: auto;
    margin-right: 6.63%;
    color: #0E5F5F;
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
  .line{
    width: 48.3%;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: 0;
  }
  .text{
    margin-top: 5%;
    margin-left: 14%;
    color: #0D4B4B;
    font-family: "DM Serif Display", serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4vw;
    @media (max-width: 768px) {
      font-size: 3.75vw;
      line-height: 5vw;
    }
  }
  .text1{
    width: 82%;
    margin-top: 6.8%;
  }
  .text2{
    width: 76.6%;
  }
  .text3{
    width: 76.6%;
    margin-bottom: 2.7%;
  }
}

.feedback2{
  margin-top: -30vw;
  margin-left: 36%;
  @media (max-width: 768px) {
    margin-top: 3.5%;
    margin-left: 6.8%;
  }
  .photo{
    height: 10.1vw;
    @media (max-width: 768px) {
      height: 39vw;
    }
    .imgByPhoto{
      width: 43%;
      height: 100%;
      margin-left: -15%;
      z-index: 1;
    }
    .photo1{
      width: 65%;
      height: 45%;
      margin-left: 6.5%;
      margin-bottom: 1%;
    }
  }
  .name{
    margin-top: -8%;
    margin-right: 30.44%;
    transform: rotate(-1deg);
  }
  .line{
    margin-right: 24.2%;
  }
  .text1{
    width: 71%;
    margin-top: 5%;
  }
  .text2{
    width: 69.25%;
    margin-bottom: 8.6%;
    font-family: "Open Sans Hebrew", sans-serif;
  }
}

.feedback3{
  margin: -21% 10.5% 0 auto;
  @media (max-width: 768px) {
    margin-top: 1.5%;
    margin-left: 5.9%;
  }
  .photo{
    width: 57%;
    height: 5.1vw;
    margin: 8.5% 0 0 auto;
    @media (max-width: 768px) {
      height: 17.2vw;
    }
    .photo1{
      width: 100%;
      height: 100%;
    }
  }
  .imgByPhoto{
    position: absolute;
    width: 27%;
    height: 14vw;
    bottom: 0;
    right: 0;
    z-index: 1;
    @media (max-width: 768px) {
      height: 50vw;
    }
  }
  .name{
    margin-top: 8%;
  }
  .text1{
    width: 32%;
    margin: -31% 0 10% 5%;
    font-family: "Open Sans Hebrew", sans-serif;
  }
  .text2{
    width: 77.3%;
    margin: 3% 0 0 5%;

  }
  .text3{
    width: 77.3%;
    margin: 3% 0 9.5% 5%;
    font-family: "Open Sans Hebrew", sans-serif;
  }
}

.customButton{
  margin: 6.2vw 0 8% 41.6%;
  padding: 1.4% 1.6% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #FFF!important;
  font-size: 2vw!important;
  @media (max-width: 768px) {
    display: none;
    margin: 3% 0 10% 18%;
    padding: 6% 5% !important;
    font-size: 7.5vw!important;
  }
}

.blur{
  position: absolute;
  top: 32.7vw;
  left: 25.7%;
  width: 16.8%;
  height: 15.7vw;
  border-radius: 16.8vw;
  background: #DFFFC5;
  filter: blur(2.37vw);
  z-index: -2;
  @media (max-width: 768px) {
    width: 71.8%;
    height: 71.8vw;
    top: 78.4vw;
    left: 41.25%;
    border-radius: 71.8vw;;
    filter: blur(15.625vw);
  }
}

.arrow{
  position: absolute;
  top: 40.4vw;
  left: 35%;
  width: 7%;
  @media (max-width: 768px) {
    display: none;
  }
}
