.containerVacancies {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 38vw;
  @media (max-width: 768px) {
    height: 132.2vw;
    margin-top: -9%;
  }
}

.title{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 8%;
  margin-left: 19%;
  z-index: 1;
  color: #6079FF;
  font-family: "DM Serif Display", serif;
  font-size: 1.55vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5vw;
  @media (max-width: 768px) {
    top: 0;
    font-size: 4.37vw;
    line-height: 4vw;
    margin-left: 5%;
  }
  .title1{

  }
  .title2{
    width: 27%;
    margin-left: 19%;
    margin-top: 1%;
    @media (max-width: 768px) {
      width: 75.5%;
      margin-left: 6%;
      margin-top: 2.5%;
    }
  }
  .title3{
    width: 20%;
    text-align: right;
    margin-left: 41%;
    span{
      color: #C341C9;
    }
    @media (max-width: 768px) {
      width: 56.87%;
      margin-left: 35%;
    }
  }
}

.rectangle{
  width: 100%;
  height: 8%;
  margin-top: 2%;
  background: #C8DAFF;
  border-radius:  0 6.2vw 0 0 ;
}

.info{
  position: relative;
  top: 11%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 64.5%;
  gap: 2%;
  @media (max-width: 768px) {
    top: 4%;
    height: 53.2%;
  }
}

.ux{
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  border-radius: 2.2vw;
  border: 0.11vw solid #FF8585;
  background: linear-gradient(180deg, #FFC1C5 0%, rgba(228, 185, 249, 0.70) 36%, rgba(255, 193, 223, 0.50) 53%, #D4EDFF 100%);
  backdrop-filter: blur(25px);
  @media (max-width: 768px) {
    width: 100%;
    border-radius: 6.25vw;
  }
  .textMain{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 96%;
    height: 67%;
    border-radius: 2.2vw 0 0 2.2vw;
    background: #FFF;
    margin-top: 10.4%;
    @media (max-width: 768px) {
      border-radius: 6.25vw 0 0 6.25vw;
    }
    .title{
      width: 85%;
      height: 8.6%;
      margin-top: 5%;
      margin-left: 5%;
      color: #3C3A8C;
      font-family: "PT Mono", monospace;
      font-size: 1.5vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.45vw;
      @media (max-width: 768px) {
        width: 90%;
        font-size: 4.375vw;
        line-height: 4vw;
        margin-top: 12%;
      }
    }
    .text{
      margin-top: 20%;
      height: 52.8%;
      width: 90%;
      color: #3C3A8C;
      font-family: "PT Mono", monospace;
      font-size: 1.1vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4vw;
      @media (max-width: 768px) {
        margin-top: 10%;
        font-size: 3.125vw;
        line-height: 4vw;
        text-align: start;
      }
    }
  }
  .respond{
    width: 90%;
    height: 12.5%;
    margin-top: 4%;
    border-radius: 2.2vw 0 0 2.2vw;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7B88FF;
    font-family: "DM Serif Display", serif;
    font-size: 1.4vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4vw;
    @media (max-width: 768px) {
      font-size: 4vw;
      border-radius: 6.25vw 0 0 6.25vw;
    }
  }
}

.graphic{
  margin-top: 2%;
  transform: rotate(-2deg);
  height: 86%!important;
  align-items: start!important;
  border: 0.11vw solid #3E3CA1 !important;
  background: linear-gradient(180deg, #C1D6FF 0%, rgba(187, 185, 249, 0.70) 36%, rgba(198, 193, 255, 0.50) 53%, #E7D4FF 100%)!important;
  @media (max-width: 768px) {
    margin-top: 15%;
    transform: rotate(0deg);
  }
  .textMain{
    border-radius: 0 2.2vw 2.2vw 0!important;
    @media (max-width: 768px) {
      width: 94%;
    }
    .title{
      @media (max-width: 768px) {
        width: 90%;
        text-align: start;
        margin-left: 14%;
      }
    }
    .text{
      margin-top: 20%;
      width: 75% !important;
      margin-right: 4%;
      @media (max-width: 768px) {
        margin-top: 10%;
      }
    }
  }
  .respond{
    margin-left: 10%;
  }
}

.motion{
  margin-top: 1%;
  transform: rotate(3deg);
  height: 91%!important;
  align-items: center!important;
  border: 0.11vw solid #FFBF85!important;
  background: linear-gradient(180deg, #FFF1C1 0%, rgba(185, 226, 249, 0.70) 36%, rgba(213, 255, 193, 0.50) 53%, #D4EDFF 100%)!important;
  @media (max-width: 768px) {
    margin-top: 10%;
    transform: rotate(0deg);
  }
  .textMain{
    border-radius: 2.2vw!important;
    .title{
      @media (max-width: 768px) {
        text-align: left;
        margin-left: 10%;
      }
    }
    .text{
      width: 89%!important;
      margin-left: 8%;
    }
  }
  .respond{
    margin-left: 10%;
  }
}

.registrationBtn{
  margin-top: 12%;
  margin-right: 5%;
  padding: 2.1% 1.7%;
  border-radius: 1.3vw;
  border: 0.11vw solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  backdrop-filter: blur(1.1vw);
  color: #FFF;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 2.6vw;
  font-style: italic;
  font-weight: 700;
  line-height: 2.5vw;
  z-index: 1;
  @media (max-width: 768px) {
    margin: 1% 19.6% 0 19.6%;
    padding: 6% 5%;
    border-radius: 3.75vw;
    border: 0.3vw solid #3E3CA1;
    backdrop-filter: blur(3.125vw);
    font-size: 7.5vw;
    line-height: 7vw;

  }
}

.liquida{
  position: absolute;
  top: -20%;
  left: 0;
  width: 28%;
  opacity: 0.5;
  z-index: 1;
  @media (max-width: 768px) {
    top: 9%;
    left: 64%;
    width: 41%;
    opacity: 0.9;
    z-index: 0;
  }
}

