.containerVacancies {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-top: -15vw;
  }
}

.textInOur{
  margin-top: 2%;
  margin-left: 50.31%;
  transform: rotate(2deg);
  color: #1D8835;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.86vw;
  font-style: italic;
  @media (max-width: 768px) {
    margin-top: 0;
    margin-left: 39.3%;
    font-size: 4.375vw;
  }
}

.textWeHave{
  width: 22.34%;
  margin-top: 0.62%;
  margin-left: 35.7%;
  transform: rotate(-2deg);
  color: #1D8835;
  font-family: "DM Serif Display", serif;
  font-size: 1.86vw;
  font-style: italic;
  line-height: 1.86vw;
  @media (max-width: 768px) {
    width: 52.5%;
    margin-top: 4%;
    margin-left: 15.625%;
    font-size: 4.375vw;
    line-height: 4.375vw;
  }
}

.textWeCan{
  margin-top: 2.9%;
  margin-left: 19%;
  transform: rotate(-1deg);
  color: #54B8A0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.8vw;
  font-weight: 600;
  text-transform: uppercase;
  @media (max-width: 768px) {
    margin-top: 5.7%;
    margin-left: 5.3%;
    font-size: 7.5vw;
  }
}

.blockText1{
  width: 38.4%; //867
  margin-top: 6.7%;
  margin-left: 8%;
  border-radius: 2.65vw;
  border: 0.11vw solid #FFF;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(0.66vw);

  color: #2B6B4C;
  font-family: "DM Serif Display", serif;
  font-size: 1.86vw;
  font-style: italic;
  line-height: 1.86vw;
  @media (max-width: 768px) {
    width: 90%; //289
    margin-top: 21.2%;
    margin-left: -6.25%;
    border-radius: 6.25vw;
    border: 0.31vw solid #ffffff;
    backdrop-filter: blur(1.5vw);
    font-size: 4.375vw;
    line-height: 4.375vw;
  }
  .tx1{
    margin-top: 7.6%;
    margin-left: 24%;
  }
  .tx2{
    width: 58.1%;
    margin-top: 2%;
    margin-left: 15.6%;
  }
  .tx3{
    margin-top: 4%;
    margin-left: 34.6%;
    color: #207566;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 2.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8vw;
    text-transform: uppercase;
    @media (max-width: 768px) {
      margin-bottom: 8%;
      margin-left: 29.6%;
      font-size: 5vw;
      line-height: 4.375vw;
      color: #54B8A0;
    }
  }
}

.blockText2{
  width: 28.2%; //636
  margin-top: -10%;
  margin-left: 55.36%;
  border-radius: 2.65vw;
  border: 0.11vw solid #FFF;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0.66vw);
  padding: 13.89% 0 2.1% 2.4%;
  color: #2B6B4C;
  font-family: "DM Serif Display", serif;
  font-size: 1.8vw;
  font-style: italic;
  line-height: 1.8vw;
  @media (max-width: 768px) {
    width: 66.25%; //212
    margin-top: 14%;
    margin-left: 26.25%;
    border-radius: 6.25vw;
    border: 0.31vw solid #2a7f16;
    backdrop-filter: blur(1.5vw);
    padding: 30.31% 0 5% 5.5%;
    font-size: 4.375vw;
    line-height: 4.375vw;
  }
  .tx1{
    width: 100%;
  }
  .tx2{
    width: 83.3%;
    margin-top: 9.4%;
    font-family: "Open Sans Hebrew", sans-serif;
  }
  .tx3{
    width: 89.3%;
    margin-top: 9.4%;
    @media (max-width: 768px) {
      width: 91.3%;
    }
  }
}

.title{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25.5vw;
  left: 51%;
  width: 22.8%;
  height: 10.2vw;
  @media (max-width: 768px) {
    top: 109vw;
    left: -11.56%;
    width: 75.6%;
    height: 19.375vw;
  }
  .rectangle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .text{
    width: 84%;
    color: #FFF;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.65vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
    @media (max-width: 768px) {
      font-size: 6.25vw;
    }
  }
}

.ring{
  position: absolute;
  width: 35.6%;
  height: 45.21vw;
  top: 11.7%;
  right: 0;
  z-index: -1;
  @media (max-width: 768px) {
    width: 71.6%;
    height: auto;
    top: 66.5vw;
    right: -22%;
  }
}

.cylinder{
  position: relative;
  width: 34.6%;
  height: 29.6vw;
  margin-left: 65.55%;
  margin-top: -11%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 70%;
    height: 60vw;
    margin-left: 44.6%;
    margin-top: -20%;
  }
  img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .text{
    margin-bottom: 2%;
    margin-left: 14%;
    color: #419049;
    text-align: center;
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: #FFF;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.65vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 6.25vw;
    }
  }
}

.sphere{
  position: absolute;
  width: 6.5%;
  top: 30vw;
  left: 0;
  @media (max-width: 768px) {
    position: relative;
    width: 21.3%;
    top: auto;
    left: auto;
    margin-top: -30.3%;
    margin-left: -3%;
  }
}

.spiral{
  position: absolute;
  width: 19%;
  top: 35.8vw;
  left: 0;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.spiralMobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    width: 50%;
    top: 3vw;
    right: 0;
    z-index: -1;
  }
}

.blur{
  position: absolute;
  width: 30.58%;
  height: 30.58vw;
  top: 4%;
  left: 2%;
  border-radius: 30.58vw;
  background: #C5FFF8;
  filter: blur(6.64vw);
  z-index: -1;
  @media (max-width: 768px) {
    width: 70%;
    height: 70vw;
    top: 49%;
    left: -26.25%;
    border-radius: 70vw;
    filter: blur(15.6vw);
  }
}
