.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 150px;
  background: linear-gradient(236deg, #B890FA 28.35%, #AA76FF 76.28%);
  height: 60vw;
  overflow: hidden;
  @media (max-width: 768px) {
    height: 145vw;
  }
}

.menu{
  position: absolute;
  top: 0;
  width: 100%;
  height: 7.2%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: end;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 0%, rgba(246, 226, 255, 0.90) 50%, rgba(233, 220, 255, 0.90) 100%);
  backdrop-filter: blur(7.5px);
  padding-right: 10%;
  z-index: 10;
  .btn{
    color: #1F2260;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6vw;
    font-style: italic;
    font-weight: 400;
    line-height: 50.262px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    height: 9%;
    padding-right: 6%;
    button{
      width: 7%;
    }
  }
}

.menuBurger{
  width: 100%;
  height: 100%;
}

.logo{
  position: absolute;
  left: 6.25%;
  width: 21.5%;
}

.welcome{
  position: absolute;
  top: 24%;
  left: 1%;
  display: inline-flex;
  padding: 3.1% 6.2%;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(2.5px);

  color: #160676;
  font-family: "DM Serif Display", serif;
  font-size: 5vw;
  font-style: italic;
  font-weight: 400;
}

.title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  //font-size: 300px;
  font-size: max(50px, 12vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke-width: 0.4vw;
  -webkit-text-stroke-color: #FFF;
  color: transparent;
  .sp1{
    position: absolute;
    top:21%;
    left: 37%;
  }
  .sp2{
    position: absolute;
    top:35%;
    left: 42%;
  }
  .sp3{
    position: absolute;
    top:49%;
    left: 55.5%;
  }
  @media (max-width: 768px) {
    font-size: 22vw;
    .sp1{
      top:32%;
      left: 14%;
    }
    .sp2{
      top:42%;
      left: 23%;
    }
    .sp3{
      top:52%;
      left: 47.5%;
    }
  }
}

.menuMobile{
  position: absolute;
  bottom: 1%;
  width: 100%;
  height: 22.8%;
  border-radius: 20px;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, rgba(236, 159, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .twoButtons1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    color: #FFF;
    font-family: "DM Serif Display", serif;
    font-size: max(10px, 6vw); ;
    font-style: italic;
    font-weight: 400;
    line-height: 8vw;
    margin-right: 5%;
  }
  .twoButtons2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 5%;

    color: #FFF;
    font-family: "DM Serif Display", serif;
    font-size: max(10px, 6vw); ;
    font-style: italic;
    font-weight: 400;
    line-height: 8vw;
  }
  .btn1{
    margin-bottom: 3.75%;
  }
  .btn2{
    margin-left: 18%;
    margin-top: 3.75%;
  }
  .btmDM{
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    margin-left: 18%;
    margin-top: 3.75%;
  }
}

.overlay {
  position: absolute;
  top: 4%;
  left: 0;
  width: 40%;
  height: 63%;
  opacity: 0.9;
  mix-blend-mode: overlay;
  @media (max-width: 768px) {
    top: -4%;
  }
}

.overlay2 {
  position: absolute;
  top: 2%;
  right: 0;
  width: 37%;
  height: 63%;
  opacity: 0.9;
  mix-blend-mode: overlay;
  @media (max-width: 768px) {
    right: -32%;
    width: 75%;
    top: 3%;
  }
}

.overlay3 {
  position: absolute;
  top: 66%;
  left: 16%;
  width: 30%;
  opacity: 0.9;
  mix-blend-mode: overlay;
  @media (max-width: 768px) {
    top: 62.5%;
    left: -6%;
    transform: rotate(-8deg);
  }
}

.overlayBackground {
  position: absolute;
  top: 8.5%;
  right: 0;
  width: 62%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: overlay;
  @media (max-width: 768px) {
    right: 55%;
    width: 79.6%;
    top: 8%;
    opacity: 0.2;
  }
}

.flowers{
  position: absolute;
  width: 18%;
  top: 30%;
  left: -1%;
  @media (max-width: 768px) {
    width: 18%;
    top: 72%;
    left: 82%;
    z-index: 1;
  }
}
