.containerBenefits {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  margin-top: -14%;
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.title{
  width: 38.4%; //867
  margin-top: 9%;
  margin-left: 49.2%;
  border-radius: 1.3vw;
  border: 0.11vw solid #FFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.73);
  backdrop-filter: blur(0.18vw);

  transform: rotate(-1deg);
  color: #276945;
  font-family: "DM Serif Display",serif;
  font-style: italic;
  font-weight: 400;
  @media (max-width: 768px) {
    width: 90%; //289
    margin-top: 7vw;
    margin-left: 0;
    border-radius: 3.125vw;
    border: 0.15vw solid #FFF;
    backdrop-filter: blur(0.43vw);
    transform: rotate(0deg);
  }
  span{
    color: #53B970;
  }
  .tx1{
    width: 71%;
    margin: 3.5% 0 3.6% 5.9%;
    font-size: 1.8vw;
    line-height: 1.8vw;
    @media (max-width: 768px) {
      font-size: 4.375vw;
      line-height: 4.375vw;
      transform: rotate(-1deg);
    }
  }
  .tx2{
    width: 61.6%;
    margin: 0 0 5.5% 38%;
    font-size: 2vw;
    line-height: 2vw;
    @media (max-width: 768px) {
      font-size: 4.375vw;
      line-height: 4.375vw;
      transform: rotate(-1deg);
    }
  }
}

.benefits{
  position: relative;
  width: 43.6%; //984
  height: 34.5vw;
  margin-top: -21%;
  margin-left: -1%;
  margin-bottom: 5%;

  color: #3AB85D;
  text-align: right;
  font-family: "DM Serif Display", serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.5vw;
  @media (max-width: 768px) {
    position: relative;
    width: 136.6%; //437
    height: 136.6vw;
    margin-top: 11.9%;
    margin-left: -38%;
    margin-bottom: 0;
    font-size: 6vw;
    line-height: 7.8vw;
  }
  .face{
    width: 79.1%;
    height: 100%;
  }
  .schedule{
    position: absolute;
    text-align: right;
    top: 28.8%;
    right: 0;
    transform: rotate(-2deg);
    @media (max-width: 768px) {
      top: 25.8%;
    }
  }
  .salary{
    position: absolute;
    top: 53.1%;
    right: 4%;
    color: #3BB5B5;
    transform: rotate(-1deg);
    @media (max-width: 768px) {
      top: 42.1%;
    }
  }
  .bonuses{
    position: absolute;
    top: 70.5%;
    right: 4.1%;
    @media (max-width: 768px) {
      top: 59.5%;
    }
  }
  .opportunity{
    position: absolute;
    top: 85.1%;
    right: 4.4%;
    color: #3BB5B5;
    transform: rotate(-1deg);
    @media (max-width: 768px) {
      top: 74.1%;
    }
  }
}

.pill{
  position: absolute;
  width: 12%;
  height: 21.5%;
  top: 22.9vw;
  left: -5.32%;
  transform: rotate(8deg);
  filter: brightness(150%);
  @media (max-width: 768px) {
    display: none;
  }
}

.djosuMobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    width: 62%;
    top: -1vw;
    right: 0;
    z-index: -1;
  }
}

.customButton{
  margin: -12% 0 8% 59%;
  padding: 1.9% 1.6% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #FFF!important;
  @media (max-width: 768px) {
    margin: -16% 0 10% 20%;
    padding: 6% 5% !important;
    font-size: 7.5vw;
  }
}



