.btn{
  padding: 2.1% 1.7%;
  border-radius: 1.3vw;
  border: 0.13vw solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  backdrop-filter: blur(1.1vw);
  color: #FFF;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 2.6vw;
  font-style: italic;
  font-weight: 700;
  line-height: 2.5vw;
  z-index: 1;
  @media (max-width: 768px) {
    padding: 6% 5%;
    border-radius: 3.75vw;
    border: 0.3vw solid #3E3CA1;
    backdrop-filter: blur(3.125vw);
    font-size: 7.5vw;
    line-height: 7vw;
  }
}
