.containerBenefits {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 93.26vw;
  overflow: hidden;
  margin-top: -30%;
  @media (max-width: 768px) {
    margin-top: -10%;
    height: 170vw;
  }
}

.text{
  width: 37.4%;
  height: 17.02vw;
  margin-top: 29.47%;
  margin-left: 6.3%;
  border-radius: 2.74vw;
  border: 0.13vw solid #FFF;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(0.34vw);
  @media (max-width: 768px) {
    width: 84.3%;
    height: 38.4vw;
    margin-top: 8%;
    margin-left: 6.3%;
    border-radius: 6.25vw;
    border: 0.3vw solid #FFF;
    backdrop-filter: blur(0.78vw);
  }
  .tx1{
    margin-top: 7%;
    margin-left: 18.8%;
    color: #463A3A;
    font-family: "DM Serif Display",serif;
    font-size: 1.95vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.95vw;
    @media (max-width: 768px) {
      margin-left: 15.8%;
      font-size: 4.37vw;
      line-height: 4.37vw;
    }
  }
  .tx2{
    width: 62.2%;
    margin-top: 3%;
    margin-left: 9.5%;
    color: #463A3A;
    font-family: "DM Serif Display",serif;
    font-size: 1.95vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.95vw;
    @media (max-width: 768px) {
      font-size: 4.37vw;
      line-height: 4.37vw;
    }
  }
  .tx3{
    margin-top: 5%;
    color: #5449D9;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.95vw;
    text-transform: uppercase;
    @media (max-width: 768px) {
      margin-right: 5%;
      font-size: 5vw;
      line-height: 4.37vw;
    }
  }
}

.containerInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.5%;
  height: 14.8vw;
  transform: rotate(4.008deg);
  flex-shrink: 0;
  border-radius: 2.77vw;
  border: 0.15vw solid #55428B;
  background: linear-gradient(180deg, #FFF 0%, #FFF 91.5%, #CFEEFF 95.5%, #FFB2F7 100%);
  @media (max-width: 768px) {
    width: 32.18%;
    height: 33.43vw;
    border: 0.3vw solid #55428B;
    border-radius: 6.25vw;
  }
}

.cnt1{
  position: absolute;
  top: 39.5%;
  right: 22%;
  z-index: 1;
  @media (max-width: 768px) {
    top: 37.5%;
    right: 17%;
  }
  .number{
    margin-left: 70%;
    color: #DFCCED;
    font-family: "DM Serif Display", serif;
    font-size: 4.43vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 10vw;
    }
  }
  .textFlexible{
    margin-top: -18%;
    margin-left: 10%;
    color: #B038BA;
    font-family: "DM Serif Display", serif;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 400;
    line-height: 3.3vw;
    @media (max-width: 768px) {
      font-size: 5vw;
      line-height: 7.5vw;
    }
  }
}

.cnt2 {
  position: absolute;
  transform: rotate(-7.999deg)!important;
  top: 49%;
  right: 43%;
  z-index: 1;
  @media (max-width: 768px) {
    top: 49%;
    right: 65%;
  }

  .number {
    color: #DFCCED;
    font-family: "DM Serif Display", serif;
    font-size: 4.43vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 10vw;
    }
  }
  .textSalary{
    margin-top: 3%;
    margin-left: 2%;
    color: #B038BA;
    font-family: "DM Serif Display", serif;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
  .textPlus{
    margin-top: 3%;
    color: #6652DF;
    font-family: "DM Serif Display", serif;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
  .textPleasant{
    margin-top: 5%;
    color: #6652DF;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 4vw;
    }
  }
}

.cnt3 {
  position: absolute;
  transform: rotate(9.991deg);
  top: 61%;
  right: 18%;
  z-index: 1;
  @media (max-width: 768px) {
    top: 64%;
    right: 9%;
  }

  .number {
    color: #DFCCED;
    font-family: "DM Serif Display", serif;
    font-size: 4.43vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 10vw;
    }
  }
  .textDevelopment{
    color: #8470FA;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 400;
    line-height: 3.3vw;
    @media (max-width: 768px) {
      font-size: 5vw;
      line-height: 7.5vw;
    }
  }
}

.customButton{
  position: absolute;
  top: 52.5%;
  left: 14.3%;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(249, 185, 231, 0.70) 22%, rgba(246, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%)!important;
  backdrop-filter: blur(1.1vw)!important;
  z-index: 1;
  @media (max-width: 768px) {
    top: 82.5%;
    left: -4.7%;
  }

}

.branch{
  position: absolute;
  top: 20%;
  right: 0;
  width: 53.7%;
  @media (max-width: 768px) {
    display: none;
  }
}

.branchMobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    top: 20vw;
    right: 0;
    width: 88.4%;
  }

}

.glass{
  position: absolute;
  top: -1%;
  right: -12%;
  width: 50.9%;
  transform: rotate(77deg);
  opacity: 0.2;
  filter: blur(0.33vw);
  @media (max-width: 768px) {
    display: none;
  }
}

.blurRight{
  position: absolute;
  top: 40%;
  right: -0;
  width: 40.9%;
  filter: blur(6.7vw);
  z-index: -1;
  @media (max-width: 768px) {
    top: 21%;
    right: 31%;
    width: 76.9%;
    filter: blur(6.7vw);
    z-index: -1;
  }
}

.blurRightTop{
  position: absolute;
  top: -1%;
  right: 0;
  width: 34.9%;
  z-index: -1;
  @media (max-width: 768px) {
    top: -11%;
    right: -2%;
    width: 55.9%;
  }
}

.blurleft{
  position: absolute;
  top: 18%;
  left: 0;
  width: 29.9%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.djosu{
  display: none;
  position: absolute;
  top: 18%;
  left: 0;
  width: 29.9%;
  z-index: -1;
  @media (max-width: 768px) {
    display: block;
    top: 16%;
    left: 0;
    width: 60.9%;
    z-index: -1;
  }
}
