.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  overflow: hidden;
}

.menu{
  background: linear-gradient(90deg, #E0FFF8 0%, #FFF 100%);
  button{
    color: #1F604C;
  }
  @media (max-width: 768px) {
    background: linear-gradient(90deg, #F1FFE0 0%, #FFF 100%);
  }
}

.burgerMenu{
  background: #F1FFE0FF!important;
  opacity: 0.9!important;
  button{
    color: #54B8A0!important;
  }
}

.title1{
  margin-top: 4.4%;
  margin-left: 46%;
  color: #588A18;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 4.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  span {
    margin-left: 1.2%;
  }
  @media (max-width: 768px) {
    width: 75%;
    margin-top: 5.626%;
    margin-left: 20%;
    font-size: 10vw;
  }
}

.title2{
  width: 33.1%;
  margin-top: 5%;
  margin-left: 13.3%;
  color: #FFF;
  -webkit-text-stroke-width: 0.13vw;
  -webkit-text-stroke-color: #588A18;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 6.4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @media (max-width: 768px) {
    width: 77.8%;
    margin-top: 27.8%;
    margin-left: 6.25%;
    font-size: 15vw;
    z-index: 2;
  }
}

.extraMenu{
  margin-top: -13.35%;
  margin-left: 51.8%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  color: #7CBA2E;
  font-family: "DM Serif Display", serif;
  font-size: 2.7vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3.3vw;
  @media (max-width: 768px) {
    margin-top: 9%;
    margin-left: 9%;
    font-size: 6.25vw;
    line-height: 6.5vw;
  }
  .btn1{
  }
  .btn2{
    margin-left: 6.4vw;
    font-family: Mulish, sans-serif;
    @media (max-width: 768px) {
      margin-left: 15vw;
    }
  }
  .btn3{
    margin-left: 16vw;
    font-family: Mulish, sans-serif;
    @media (max-width: 768px) {
      margin-left: 38vw;
    }
  }
  .btn4{
    margin-left: 28.3vw;
    @media (max-width: 768px) {
      margin-left: 67vw;
    }
  }
}

.extraMenu2{
  position: absolute;
  top: 14vw;
  left: 47.7%;
  margin-top: 0;
  margin-left: 0;
  .btn2{
    margin-top: 4%;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.glass{
  position: absolute;
  top: 2vw;
  left: 1%;
  width: 54.9%;
  z-index: -1;
  @media (max-width: 768px) {
    width: 132%;
    top: 17vw;
    left: -29.5%;
    z-index: 1;
  }
}
.become{
  position: absolute;
  width: 19.95%;
  height: 9.48vw;
  top: 17vw;
  left: 20%;
  z-index: 2;
  @media (max-width: 768px) {
    width: 44.687%;
    height: 8.125vw;
    top: 59.625vw;
    left: 15.43%;
  }
}

.spiral{
  position: absolute;
  top: 25.4vw;
  left: 66.8%;
  width: 32.6%;
  z-index: -1;
  @media (max-width: 768px) {
    position: relative;
    margin-top: -27.3%;
    margin-left: -34%;
    top: auto;
    left: auto;
    width: 67%;
  }
}

.cylinder{
  position: absolute;
  top: 38.3vw;
  left: 45%;
  width: 9%;
  z-index: -1;
  @media (max-width: 768px) {
    top: 143vw;
    left: -7.5%;
    width: 20.5%;
  }
}

.shapeRight{
  position: absolute;
  top: 23vw;
  left: 80%;
  width: 9%;
  z-index: -1;
  @media (max-width: 768px) {
    top: 129.25vw;
    left: 80%;
    width: 19.5%;
  }
}

.shapeLeft{
  position: relative;
  margin-top: -4%;
  margin-left: -4.5%;
  width: 9%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}





