.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: #000;
  font-family: Inter, sans-serif;
  font-size: 9vw;
  font-style: normal;
  font-weight: 700;
  line-height: 9vw;
  text-transform: uppercase;
  color: #FFFFFF;

  @media (max-width: 768px) {
    -webkit-text-stroke-width: 0.3vw;
    font-size: 18.75vw;
  }
}
