.containerVacancies {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -8%;
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.text{
  color: #1B7488;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  span{
    font-size: 2.1vw;
  }
}

.text1{
  width: 30%;
  margin-left: 7.5%;
  margin-top: 5%;
  @media (max-width: 768px) {
    display: none;
  }
}

.text2{
  width: 29.7%; //671
  margin-top: -6.64%;
  margin-left: 52.5%;
  border-radius: 2vw;
  background: #ffffff;
  @media (max-width: 768px) {
    width: 93.125%; //298
    margin-top: 0;
    margin-left: 12.2%;
    border-radius: 6.25vw;
  }
  .tx1{
    margin-top: 5%;
    margin-left: 30.5%;
    transform: rotate(2deg);
    color: #136476;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4vw;
    font-style: italic;
    font-weight: 400;
    @media (max-width: 768px) {
      margin-left: 28.26%;
      font-size: 4.375vw;
    }
  }
  .tx2{
    margin-top: 2.1%;
    margin-left: 6%;
    width: 56.5%;
    transform: rotate(-2deg);
    color: #1D8835;
    font-family: "DM Serif Display", serif;
    font-size: 1.4vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8vw;
    @media (max-width: 768px) {
      width: 62%;
      margin-top: 3.1%;
      margin-left: 3%;
      margin-bottom: 7%;
      font-size: 4.375vw;
      line-height: 4vw;
    }
  }
  .tx3{
    margin: 3% 0 5% 27.5%;
    color: #54B8A0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8vw;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
}

.text3{
  width: 36%;
  margin-top: -1.3%;
  margin-left: 8.6%;
  border-radius: 2vw;
  background: #FFF;
  text-align: right;
  @media (max-width: 768px) {
    display: none;
  }
}

.text4{
  width: 23.5%;
  margin-top: -4%;
  margin-left: 60%;
  transform: rotate(-2deg);
  padding: 1.3% 7%;
  border-radius: 2.5vw;
  border: 0.11vw solid #ffffff;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 225, 0.26) 100%);
  backdrop-filter: blur(0.36vw);

  color: #54B8A0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4vw;
  text-transform: uppercase;
  text-align: center;
  @media (max-width: 768px) {
    width: 73.75%;
    margin-top: 1.6%;
    margin-left: 35%;
    padding: 4% 7%;
    border-radius: 8vw;
    border: 0.45vw solid #ffffff;
    backdrop-filter: blur(1.1vw);
    font-size: 5vw;
    line-height: 4.375vw;
  }
}

.text5{
  display: flex;
  width: 29.7%;
  margin-top: -1%;
  margin-left: 52%;
  flex-direction: column;
  justify-content: center;
  border-radius: 2vw;
  background: #FFF;
  color: #0D6A43;
  text-align: center;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 768px) {
    width: 93.125%;
    margin-top: -3%;
    margin-left: 12.2%;
    border-radius: 6.25vw;
    font-size: 4.375vw;
  }
  .tx51{
    width: 75.5%;
    margin-top: 5.7%;
    margin-left: 5%;
    transform: rotate(-2.001deg);
  }
  .tx52{
    margin-top: 5.6%;
    margin-left: 13.4%;
  }
  .tx53{
    margin-top: 6.85%;
    margin-bottom: 19.67%;
    margin-left: 13.4%;
  }
}

.customButton{
  position: absolute;
  top: 66%;
  right: 30%;
  padding: 1.4% 1.6% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  backdrop-filter: blur(1vw)!important;
  font-size: 2.4vw!important;
  @media (max-width: 768px) {
    padding: 6% 5% !important;
    font-size: 7.5vw!important;
    top: 81%;
    right: 35%;
  }
}

.cylinder{
  width: 13.9%;
  margin-top: -5%;
  margin-left: 70.6%;
  @media (max-width: 768px) {
    width: 42.9%;
    margin-top: -13%;
    margin-left: 66.6%;
  }
}

.glass{
  margin-top: -44.2%;
  margin-left: -30.1%;
  width: 58.55%;
  transform: rotate(28deg);
  opacity: 0.3;
  filter: blur(0.3vw);
  @media (max-width: 768px) {
    display: none;
  }
}

.shape{
  position: absolute;
  top: -9%;
  right: 11%;
  width: 53.55%;
  height: 53.55vw;
  z-index: -2;
  @media (max-width: 768px) {
    width: 159.55%;
    height: 159.55vw;
    top: -4%;
    right: -23%;
  }
}


.roundCube{
  display: none;
  @media (max-width: 768px) {
    display: block;
    width: 66.25%;
    height: 66.25vw;
    margin-bottom: -10%;
    margin-top: -21%;
    margin-left: 34.125%;
    z-index: -2;
  }
}


