.containerFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10%;
  @media (max-width: 768px) {
  }
}

.feedbacks{
  position: relative;
  width: 100%;
  height: 45.5vw; //1027
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    height: auto;
    flex-direction: column;
    margin-top: 14%;
  }
}
.feedback1{
  margin-left: 6.7%;
  margin-bottom: 19.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26.3%; //592px
  height: auto;
  border-radius: 1.77vw;
  border: 0.13vw solid #ffffff;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.3vw);

  color: #0D4B4B;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5vw;
  @media (max-width: 768px) {
    margin-left: 3.4%;
    margin-bottom: 0;
    width: 92.5%;
    border-radius: 6.25vw;
    border: 0.45vw solid #ffffff;
    backdrop-filter: blur(1.25vw);
    font-size: 3.75vw;
    line-height: 5vw;
  }
  .name{
    margin-left: -19%;
    display: inline-flex;
    transform: rotate(-2deg);
    padding: 4.4% 27%;
    justify-content: center;
    align-items: center;
    border-radius: 2.2vw;
    border: 0.11vw solid #FFF;
    background: linear-gradient(180deg, #FFF 0%, rgba(218, 224, 251, 0.26) 100%);
    backdrop-filter: blur(0.3vw);

    color: #284E88;
    font-family: "DM Serif Display", serif;
    font-size: 1.77vw;
    font-style: italic;
    font-weight: 400;
    line-height: 2.2vw;
    @media (max-width: 768px) {
      margin-left: -42%;
      padding: 4% 25%;
      border-radius: 7.8vw;
      border: 0.45vw solid #ffffff;
      backdrop-filter: blur(1.25vw);
      font-size: 6.25vw;
      line-height: 7.8vw;
      margin-bottom: -4%;
      z-index: 1;
    }
  }
  .containerPhoto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 88%; //520px
    .textByPhoto{
      width: 56.1%;
    }
    .photo{
      position: relative;
      width: 40%;
      height: 9.4vw;
      border-radius: 1.77vw;
      @media (max-width: 768px) {
        border-radius: 6.25vw;
        height: 33vw;
      }
      .blur{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.77vw;
        background: #9AC0B9;
        mix-blend-mode: hard-light;
        z-index: 1;
      }
      img{
        border-radius: 1.77vw;
        @media (max-width: 768px) {
          border-radius: 6.25vw;
        }
      }
    }
  }
  .text1{
    margin: 7.4% 0 5% 17%;
    width: 77%; //456
  }
}

.feedback2{
  margin-top: 13.1%;
  margin-bottom: auto;
  margin-left: 3.2%;
  transform: rotate(-2deg);
  @media (max-width: 768px) {
    margin-left: 1.2%;
  }
  .name{
    margin-top: -6.6%;
    margin-left: -18%;
    margin-bottom: 2%;
    padding: 4.4% 23%;
  }
  .containerPhoto{
    .textByPhoto{
      transform: rotate(-3deg);
      margin-bottom: 2%;
    }
    .photo{
      .blur{
        background: #81BAE2;
      }
    }
  }
  .text1{
    transform: rotate(-3deg);
    margin-top: 4%;
  }
  .text2{
    width: 77%;
    margin: 0 0 0 17%;
    transform: rotate(-3deg);
  }
  .text3{
    margin: 5.3% 0 12% 9.4%;
    width: 91%;
  }
}

.feedback3{
  margin-top: 2.2%;
  margin-bottom: 8%;
  margin-left: 3.5%;
  transform: rotate(2deg);
  @media (max-width: 768px) {
    margin-top: 23.2%;
    margin-left: 7.5%;
  }
  .name{
    margin-top: -12.5%;
    margin-right: -50%;
    margin-bottom: 2%;
    padding: 4.4% 23%;
    transform: rotate(2deg);

    @media (max-width: 768px) {
      margin-top: -14.5%;
      margin-right: -65%;
      margin-bottom: 4%;
      padding: 4.4% 29%;
    }
  }
  .containerPhoto{
    .textByPhoto{
      transform: rotate(1deg);
      color: #2550A4;
      line-height: 1.8vw;
      @media (max-width: 768px) {
        line-height: 6.8vw;
      }
    }
    .photo{
      margin-bottom: 5%;
      .blur{
        background: #81BAE2;
      }
    }
  }
  .text1{
    margin-top: 4%;
    transform: rotate(2deg);
  }
  .text2{
    width: 77%;
    margin: 0 0 0 -11%;
    color: #2550A4;
    transform: rotate(1deg);
  }
  .text3{
    width: 77%;
    margin: 5.3% 0 12% 9.4%;
    transform: rotate(2deg);
  }
}

.customButton{
  position: relative;
  margin: -9% 0 7% 67%;
  padding: 1.4% 1.6% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(185, 249, 233, 0.70) 22%, rgba(193, 251, 255, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #1E926F!important;
  font-size: 2vw!important;
  @media (max-width: 768px) {
    margin: -10% 0 0% 35%;
    padding: 6% 5% !important;
    font-size: 7.5vw!important;
  }
}

.glass{
  position: absolute;
  width: 37%;
  top: 5%;
  left: 1%;
  z-index: -1;
  @media (max-width: 768px) {
    width: 92%;
    top: 8%;
    left: -8%;
  }
}

.branch{
  position: absolute;
  width: 15.8%;
  top: -3%;
  left: 55%;
  z-index: -1;
  transform: rotate(-60deg);
  opacity: 0.6;
  @media (max-width: 768px) {
    width: 55%;
    top: 57%;
    left: -18%;
    opacity: 0.6;
    transform: rotate(48deg);
  }
}

.blur{
  position: absolute;
  top: 5%;
  right: 0;
  width: 17.7vw;
  height: 17.7vw;
  flex-shrink: 0;
  border-radius: 17.7vw;
  background: #C5FCFF;
  filter: blur(2.2vw);
  z-index: -1;
  @media (max-width: 768px) {
    top: 3%;
    right: 3%;
    width: 44vw;
    height: 46vw;
    filter: blur(8vw);
  }
}

