.containerQA {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -15%;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.QAs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57%;
  padding: 1.7% 1.3%;
  margin-left: 8%;
  margin-top: 2%;
  border-radius: 1.8vw;
  border: 2px solid #FFF;
  //background: linear-gradient(180deg, rgba(236, 159, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80);
  //box-shadow: 0 0.18vw 0.18vw 0 rgba(93, 62, 183, 0.25);
  backdrop-filter: blur(0.22vw);
  @media (max-width: 768px) {
    width: 93.1%;
    padding: 8.5% 7%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6.25vw;
    background: linear-gradient(180deg, rgba(156, 196, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80);
    box-shadow: 0 1.25vw 1.25vw 0 rgba(93, 62, 183, 0.25);
    backdrop-filter: blur(1.4vw);
  }

  .bottomText{
    border-top: 1px solid #2522BB ;
    padding: 2% 2%;
    width: 100%;
    //color: #2522BB!important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: 0.97vw;
    @media (max-width: 768px) {
      font-size: 3.8vw;
      line-height: 3.5vw;
    }
  }
}

.containerButtons{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-bottom: 1vw;
  .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    button{
      padding: 1% 4%;
      border-radius: 3.5vw;
      border: 0.1vw solid #FFF;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
      backdrop-filter: blur(0.22vw);
      color: #1C3949;
      font-family: Inter, sans-serif;
      font-size: 1vw;
      font-weight: 600;
      white-space: nowrap;
    }
    .activeButton{
      color: #FFF;
      border-radius: 3.5vw;
      border: 0.1vw solid #7E108F;
      background: linear-gradient(180deg, rgba(253, 148, 255, 0.63) 0%, rgba(253, 139, 255, 0.87) 100%);
    }
  }
}

.QA{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  cursor: pointer;
  .line{
    width: 100%;
  }
  .question{
    width: 100%;
    border-top: 1px solid #2522BB ;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .text{
      width: 81.5%;
      margin: 2.5% 0;
      //color: #2522BB;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.1vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.1vw;
      @media (max-width: 768px) {
        font-size: 4.2vw;
        line-height: 3.5vw;
      }
    }
    .arrow{
      width: 8%;
      transition: transform 0.3s ease;
      @media (max-width: 768px) {
        width: 13%;
      }
    }
    .activeArrow{
      transform: translate(0, 90%) rotate(90deg);
    }
  }
}

.text1{
  position: relative;
  margin-top: 5%;
  left: 5%;
  width: 40.3%;
  transform: rotate(-3deg);
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 2.2vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  @media (max-width: 768px) {
    width: 92.5%;
    font-size: 5.625vw;
    line-height: 6.26vw;
  }
}

.text2{
  position: relative;
  margin-left: 50%;
  transform: rotate(1deg);
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  @media (max-width: 768px) {
    width: 58.125%;
    margin-left: 38%;
    margin-top: 3%;
    color: #5240BC;
    font-size: 3.57vw;
    line-height: 4vw;
    transform: rotate(0deg);
    text-align: right;
  }
}

.text3{
  position: relative;
  margin-left: 61%;
  width: 27.9vw;
  transform: rotate(1deg);
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
}

.toQA{
  width: 69%;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e5e3e3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(5px);
  .tx1{
    color: #000;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4.375vw;
    font-style: normal;
    font-weight: 600;
    margin-right: 20%;
    margin-top: 7%;
  }
  .tx2{
    color: #4F4BFF;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 6.25vw;
    font-style: italic;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 9%;
    margin-bottom: 5%;
  }
  .arrow{
    width: 30%;
    margin-bottom: 7%;
    margin-left: 40%;
  }
}

.glass13{
  position: absolute;
  width: 131%;
  top: -29vw;
  left: -11%;
  transform: rotate(44deg);
  opacity: 0.5;
  z-index: -1;
  img{
    width: 100%;
    height: 100%;
    //filter:blur(0.78vw) hue-rotate(150deg) saturate(2) brightness(1.2);
    filter:blur(0.78vw) ;

  }
}

.liquida{
  position: absolute;
  top: 26%;
  right: 0;
  width: 39%;
  @media (max-width: 768px) {
    display: none;
  }
}

.substanceLeft{
  position: relative;
  margin-top: -32%;
  margin-right: 39%;
  width: 36%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}



