.containerBeforeQA{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  margin-top: 2.3%;
  @media (max-width: 768px) {
  }
}

.text1{
  width: 34.3%;
  margin-left: 6.3%;
  transform: rotate(-2deg);
  color: #0D8087;
  font-family: "DM Serif Display", serif;
  font-size: 2.1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.9vw;
  @media (max-width: 768px) {
    width: 80.625%;
    margin-left: 9.375%;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #196789;
  }
}

.text2{
  width: 43.64%;
  margin-left: 30%;
  transform: rotate(1deg);
  color: #0D8087;
  font-family: "DM Serif Display", serif;
  font-size: 2.1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3.23vw;
  @media (max-width: 768px) {
    width: 58.43%;
    margin-top: 3%;
    margin-left: 44.75%;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #196789;
  }
}

.text3{
  width: 32.9%;
  height: 28.4vw;
  padding: 1.7% 1.8% 4% 3.5%;
  margin-left: 46.2%;
  margin-top: 3%;
  transform: rotate(-5deg);
  border-radius: 2.5vw;
  border: 0.11vw solid #3CA14C;
  background: linear-gradient(180deg, #E3FFEE 0%, rgba(231, 255, 242, 0.70) 36%, rgba(217, 250, 219, 0.50) 53%, rgba(212, 255, 227, 0.41) 83.5%, rgba(165, 240, 236, 0.01) 100%);
  box-shadow: 0 0 13.3vw 0 #FFF;
  backdrop-filter: blur(1.3vw);

  color: #7962D4;
  font-family: "DM Serif Display", serif;
  font-size: 2.1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3.85vw;
  @media (max-width: 768px) {
    display: none;
    width: 75.5%;
    height: 66.8vw;
    padding: 2.7% 2.8% 5% 4.5%;
    margin-left: -0.25%;
    margin-top: 23.75%;
    border-radius: 6.25vw;
    border: 0.3vw solid #3E3CA1;
    background: linear-gradient(180deg, #E3ECFF 0%, rgba(233, 231, 255, 0.70) 36%, rgba(222, 217, 250, 0.50) 53%, rgba(212, 247, 255, 0.41) 83.5%, rgba(165, 240, 236, 0.01) 100%);
    box-shadow: 0 0 31.25vw 0 #FFF;
    backdrop-filter: blur(3vw);
    color: #7962D4;
    font-size: 5vw;
    line-height: 9vw;
  }
}

.customButton{
  margin-top: -2%;
  margin-left: 59%;
  padding: 2.5% 2.1%;
  font-size: 3.19vw;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #FFF!important;
  backdrop-filter: blur(1.1vw)!important;
  @media (max-width: 768px) {
    display: none;
    margin-left: 19%;
    padding: 6% 5%;
    border-radius: 3.75vw;
    border: 0.3vw solid #3E3CA1;
    backdrop-filter: blur(3.125vw);
    font-size: 7.5vw;
    line-height: 7vw;
  }
}

.glass{
  position: absolute;
  width: 22.6%;
  top: 14.8%;
  right: 82%;
  transform: rotate(-24deg);
  @media (max-width: 768px) {
    display: none;
    width: 53.125%;
    right: 59%;
  }
}

.arrow{
  position: absolute;
  width: 11.37%;
  top: 74%;
  right: 7.25%;
  @media (max-width: 768px) {
    display: none;
    width: 24.375%;
    top: 81%;
    right: 1.25%;
  }
}

.arrowMobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    width: 26.375%;
    top: 63%;
    left: 15%;
  }
}

.blur{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    width: 47%;
    height: 40vw;
    top: 25%;
    left: -12%;
    background: #C5F1FF;
    filter: blur(8.35vw);
    z-index: -5;
  }
}
