.containerBenefits {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  margin-top: -5%;
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.mainBlock{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  @media (max-width: 768px) {
    width: 123.4%; //395
    margin-left: -19%;
  }
  .face{
    position: relative;
    width: 38.7%;
    height: 44.2vw;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 59.5%;
      height: 103vw;
    }
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: -1%;
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 61.3%; //1383
    color: #5BC57F;
    text-align: left;
    font-family: "DM Serif Display",serif;
    font-size: 2.65vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3.3vw;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: 768px) {
      width: 40.5%; //160
      font-size: 6.25vw;
      line-height: 7.8vw;
    }
    .schedule{
      .number{
        margin-top: 5.9%;
        margin-left: 21.4%;
        @media (max-width: 768px) {
          margin-top: 0;
          margin-left: 50%;
        }
      }
      .text{
        margin-top: 2%;
        margin-left: 11%;
        transform: rotate(-2deg);
        @media (max-width: 768px) {
          width: 100%;
          margin-left: -18%;
          text-align: right;
          white-space: normal;
          transform: rotate(2deg);
        }
      }
    }
    .salary{
      .number{
        margin-top: 4%;
        margin-left: 160.9%;
        @media (max-width: 768px) {
          margin-left: 20.25%;
        }
      }
      .text{
        margin-top: 3%;
        margin-left: 111%;
        color: #FFF;
        -webkit-text-stroke-width: 0.11vw;
        -webkit-text-stroke-color: #136031;
        font-family: "Open Sans Hebrew", sans-serif;
        transform: rotate(-1deg);
        @media (max-width: 768px) {
          margin-left: 9%;
          -webkit-text-stroke-width: 0.1vw;
        }
      }
    }
    .bonuses{
      .number{
        margin-top: 4%;
        margin-left: 53.6%;
      }
      .text{
        margin-top: 3%;
        margin-left: 14.5%;
        @media (max-width: 768px) {
          width: 100%;
          white-space: normal;
        }
      }
    }
    .opportunity{
      .number{
        margin-top: 4%;
        margin-left: 69%;
        @media (max-width: 768px) {
          margin-left: 40%;
        }
      }
      .text{
        margin-top: 3%;
        margin-left: 43%;
        color: #FFF;
        -webkit-text-stroke-width: 0.11vw;
        -webkit-text-stroke-color: #136031;
        font-family: "Open Sans Hebrew", sans-serif;
        transform: rotate(-1deg);
        @media (max-width: 768px) {
          width: 100%;
          white-space: normal;
          margin-left: 5%;
          font-size: 5.7vw;
        }
      }
    }
  }
}

.blur{
  position: absolute;
  width: 20.4%;
  height: 20.4vw;
  top: 6.8vw;
  right: 2%;
  border-radius: 20.4vw;
  background: #EDFFC5;
  filter: blur(6.65vw);
  @media (max-width: 768px) {
    display: none;
  }
}

.glass{
  position: absolute;
  width: 23.4%;
  top: -2vw;
  right: 0;
  @media (max-width: 768px) {
    display: none;
  }
}

.customButton{
  margin: -7% 0 1% 68%;
  padding: 1.5% 2% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #FFF!important;
  border-radius: 1.6vw!important;
  font-size: 1.4vw!important;
  @media (max-width: 768px) {
    margin: 9% 0 0 29%;
    padding: 6% 5% !important;
    font-size: 7.5vw!important;
    border-radius: 3.75vw!important;
  }
}
