.containerAfterQAMobile {
  width: 100%;
  position: relative;
  display: none;
  flex-direction: column;
  overflow: hidden;
  margin-top: -8%;
  @media (max-width: 768px) {
    display: block;
  }
}

.text{
  margin-top: 12.5%;
  margin-left: 8%;
  width: 70%;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 3.4vw;
  font-style: italic;
  font-weight: 400;
  span{
    font-size: 3.7vw;
  }
}

.baseImage{
  margin-top: 10%;
  margin-left: 4%;
  width: 73%;
}

.box{
  position: absolute;
  top: 0;
  left: 81%;
  width: 30%;
  z-index: -1;
}

.spiral{
  position: relative;
  margin-top: -50%;
  width: 65%;
  z-index: -2;
}

.substance{
  position: absolute;
  top: 59vw;
  right: 74%;
  width: 21%;
}
