.containerBenefits2 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 60vw;
  overflow: hidden;
  margin-top: -5%;
  @media (max-width: 768px) {
    height: 174.68vw;
    margin-top: 0;
  }
}

.customButton{
  margin: 12% 5% 0 0;
  border: 0.11vw solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  @media (max-width: 768px) {
    margin: 25% 0 0 44.125%;
  }
}

.roundCube{
  position: absolute;
  top: 0;
  left: 13%;
  width: 25%;
  @media (max-width: 768px) {
    left: 1%;
    width: 60%
  }
}

.superToroidLeft{
  position: absolute;
  top: 23%;
  left: 0.5%;
  width: 27%;
  @media (max-width: 768px) {
    top: 20%;
    left: -18.5%;
    width: 53%;
  }
}

.become{
  position: absolute;
  top: 34%;
  left: 27%;
  width: 21%;
  @media (max-width: 768px) {
    top: 31%;
    left: 37%;
    width: 39%;
  }
}

.pill{
  position: absolute;
  top: 21%;
  left: 31%;
  width: 39%;
  @media (max-width: 768px) {
    top: 20%;
    left: 43%;
    width: 83.6%;
  }
}

.superToroidRight{
  position: absolute;
  top: 46%;
  left: 60%;
  width: 14%;
  @media (max-width: 768px) {
    display: none;
  }
}

.substance{
  position: absolute;
  top: 10%;
  right: 0;
  width: 63%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.blurRight{
  position: absolute;
  top: -13%;
  right: 0;
  width: 50%;
  z-index: -2;
  opacity: 0.8;
  filter: blur(1.3vw);
  @media (max-width: 768px) {
    display: none;
  }
}

.djosuText3{
  position: absolute;
  top: 24%;
  right: 0;
  width: 23%;
  @media (max-width: 768px) {
    display: none;
  }
}

.djosuText3Mobile{
  display: none;
  @media (max-width: 768px) {
    position: absolute;
    display: block;
    top: 61%;
    left: 0;
    width: 58%;
    z-index: -1;
  }
}

.blurLeft{
  position: absolute;
  top: 34%;
  left: 0;
  width: 23%;
  @media (max-width: 768px) {
    display: none;
  }
}
