.answer{
  width: 81.5%;
  text-align: start;
  margin-left: 0.5%;
  //font-size: min(16px, 3vw);
  //height: auto;
  //max-height: 28vw;
  //overflow-y: auto;

  color: #22BB56;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1vw;
  @media (max-width: 768px) {
    font-size: 3.6vw;
    line-height: 4vw;
    width: 100%;
  }
  //@media (max-width: 1024px) {
  //  font-size: min(10px, 3vw);
  //}
  //@include md {
  //  font-size: min(22px, 3vw);
  //  height: auto;
  //  margin-bottom: 2%;
  //  margin-top: 0;
  //  max-height: 34vw;
  //}
  ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    list-style-type: none;
    margin-left: 2.3em;
    margin-bottom: 2em;
    //@include md {
    //  margin-top: -1em;
    //}
  }

  li{
    //@include md {
    //  margin-top: 2vw;
    //}
  }

  li::before {
    content: "•";
    color: #22BB56;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-top: 1em;
  }
  span{
    font-weight: 600;
  }
  .notLeft{
    position: relative;
    left: -1.5em;
    margin-top: 0.6em;
    font-weight: 300;
  }
  .text{
    margin-bottom: 2%;
    margin-left: 1.8%;
  }
  img{
    margin: 2% 0;
  }
}




