.containerBlock8 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 53vw;
  @media (max-width: 768px) {
    display: none;
  }
}

.text{
  position: absolute;
  top: 20%;
  left: 28%;
  width: 40%;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8vw;
  span{
    font-size: 2.1vw;
  }
}

.baseImage{
  position: absolute;
  top: 32%;
  left: 18%;
  width: 45%;
}

.box{
  position: absolute;
  top: 17%;
  left: 4%;
  width: 19%;
  z-index: -1;
}

.spiral{
  position: absolute;
  top: 15%;
  left: 0;
  width: 44%;
  z-index: -2;
}

.toQA{
  position: absolute;
  width: 21%;
  left: 67%;
  top: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.77vw;
  border: 0.1vw solid #e5e3e3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(5px);
  cursor: pointer;
  .tx1{
    color: #000;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    margin-right: 20%;
    margin-top: 7%;
  }
  .tx2{
    color: #4F4BFF;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6vw;
    font-style: italic;
    font-weight: 600;
    margin-left: 20%;
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .arrow{
    width: 35%;
    margin-bottom: 7%;
    margin-left: 45%;
  }
}

.substance{
  position: absolute;
  top: 60%;
  right: 10%;
  width: 12%;
}

.liquida{
  position: absolute;
  top: 80%;
  right: 13%;
  width: 33%;
}
