.containerBenefits {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vw;
  @media (max-width: 768px) {
    margin-bottom: 100%;
    position: relative;
    height: 160vw;
    overflow: hidden;
  }
}

.text1{
  position: absolute;
  top: 20%;
  left: 15%;
  width: 37%;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3vw;
  .sp1{
    margin-bottom: 5px;
  }
  @media (max-width: 768px) {
    font-size: 3.5vw;
    width: 67%;
  }
}

.text2{
  position: absolute;
  top: 36%;
  left: 50%;
  width: 40%;
  color: #280C63;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 3vw;
  z-index: 5;
  span{
    color: #8047F9;
  }
  @media (max-width: 768px) {
    font-size: 3.5vw;
    width: 50%;
    top: 46%;
    left: 40%;
    line-height: 4vw;
  }
}

.heart{
  width: 72%;
  position: absolute;
  top: -37%;
  left: -1%;
  z-index: -1;
  @media (max-width: 768px) {
    top: -42%;
    left: 34%;
  }
}

.liquidaTop{
  width: 16%;
  position: absolute;
  top: -11%;
  right: 0;
  z-index: -1;
  @media (max-width: 768px) {
    width: 28%;
    top: 180%;
    right: 81%;
    z-index: -1;
  }
}

.liquidaLeft{
  position: absolute;
  width: 16%;
  top: 22%;
  left: 1%;
  z-index: -1;
}

.competitive{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 15%;
  @media (max-width: 768px) {
    width: 90%;
    top: 58%;
    left: -22%;
  }
}
.flexible{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 55%;
  left: 35%;
  @media (max-width: 768px) {
    width: 90%;
    top: 85%;
    left: 25%;
  }
}
.professionalTeam{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 55%;
  left: 55%;
  @media (max-width: 768px) {
    width: 90%;
    top: 130%;
    left: -22%;
  }
}
.ProfessionalGrowth{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 75%;
  @media (max-width: 768px) {
    width: 90%;
    top: 160%;
    left: 25%;
  }
}

.figure{
  width: 55%;
  @media (max-width: 768px) {
    width: 25%;
  }
}

.signature{
  width: 72%;
  color: #000;
  text-align: center;
  text-shadow: 0px 0px 10px #FFF493;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8vw;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 3.5vw;
    width: 82%;
    //margin-top: 2%;
    line-height: 7.8vw;
  }
}
