.wrapper {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  height: 39.8vw;
  overflow: hidden;
  @media (max-width: 768px) {
    height: 170vw;
  }
}

.menu{
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 0%, rgba(246, 226, 255, 0.90) 50%, rgba(233, 220, 255, 0.90) 100%);
  button{
    color: #1F2260;
  }
}

.burgerMenu{
  background: #bdbbed!important;
}

.title{
  position: absolute;
  top: 8%;
  left: 12%;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 768px) {
    top: 4%;
  }
  .row1{
    margin-top: -1%;
    margin-left: 3.2%;
    margin-bottom: -4%;
    font-size: 9vw;
    color: transparent;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #BFA1FC;
    @media (max-width: 768px) {
      margin-top: 6%;
      font-size: 21.8vw;
      margin-left: -1.8%;
    }
  }
  .eLetter{
    position: absolute;
    top: 8%;
    left: 9.85%;
    width: 5.3%;
    @media (max-width: 768px) {
      top: 10%;
      left: 14.85%;
      width: 12.5%;
    }
  }
  .sp1{
    margin-left: 6%;
    @media (max-width: 768px) {
      margin-left: 14%;
    }
  }
  .sp2{
    margin-left: 0;
    @media (max-width: 768px) {
      margin-left: -8.5%;
    }
  }

  .row2{
    font-size: 8vw;
    color: #BFA1FC;
    @media (max-width: 768px) {
      margin-top: -12%;
      font-size: 18.7vw;
      margin-right: 4%;
    }
  }
  .uLetter1{
    position: absolute;
    top: 29%;
    left: 10.2%;;
    width: 4.7%;
    @media (max-width: 768px) {
      top: 20%;
      left: 15.8%;
      width: 10.7%;
    }

  }
  .uLetter2{
    position: absolute;
    top: 48%;
    left: 10.2%;
    width: 4.7%;
    @media (max-width: 768px) {
      top: 30%;
      left: 15.8%;
      width: 10.7%;
    }
  }
  .row3{
    font-size: 9vw;
    color: #F9B4F5;
    margin-left: 4.6%;
    margin-top: -4%;
    @media (max-width: 768px) {
      font-size: 18.7vw;
      margin-top: -8.5%;
    }
  }
}

.rectangles{
  position: absolute;
  top: 22%;
  left: 0;
  width: 86.2%;
  z-index: -1;
  @media (max-width: 768px) {
    top: 18%;
    left: 0;
    width: 97.8%;
  }
}

.extraMenu{
  position: absolute;
  bottom: 3%;
  width: 70%;
  left: 23%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: italic;
  @media (max-width: 768px) {
    flex-direction: column;
    bottom: 16%;
    width: 85%;
    left: 10%;
  }
  .twoButtons1{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 50%;

    color: #A836B7;
    font-family: "DM Serif Display", serif;
    font-size: 1.7vw;
    font-style: italic;
    font-weight: 400;
    line-height: 8vw;
    margin-right: 3.5%;
    @media (max-width: 768px) {
      width: 100%;
      font-size: 6.25vw;
      margin-right: 54.5%;
      margin-bottom: 2%;
    }
  }
  .twoButtons2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
    //margin-left: 5%;

    color: #A836B7;
    font-family: "DM Serif Display", serif;
    font-size:  1.7vw;
    font-style: italic;
    font-weight: 400;
    line-height: 8vw;
    @media (max-width: 768px) {
      width: 100%;
      font-size: 6.25vw;
      margin-left: 45%;
    }
  }
  .btn1{
    //margin-bottom: 3.75%;
    font-style: italic;
    @media (max-width: 768px) {
      margin-top: 3%;

    }
  }
  .btn2{
    font-style: italic;
    margin-left: 7%;
    //margin-left: 18%;
    //margin-top: 3.75%;
    @media (max-width: 768px) {
      margin-bottom: 3%;
      margin-left: 15%;
    }
  }
  .btmDM{
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    margin-left: 7%;
    //margin-left: 18%;
    //margin-top: 3.75%;
    @media (max-width: 768px) {
      margin-left: 15%;
    }
  }
}

.cone{
  position: absolute;
  bottom: 0%;
  left: 18%;
  width: 7%;
  @media (max-width: 768px) {
    bottom: 28%;
    left: 1%;
    width: 25%;
  }
}

.cylinderRight{
  position: absolute;
  bottom: 12%;
  right: 11%;
  width: 7%;
  @media (max-width: 768px) {
    bottom: 2%;
    right: -4%;
    width: 20%;
  }
}

.cylinderLeft{
  position: absolute;
  bottom: 9%;
  left: 14%;
  width: 4%;
  @media (max-width: 768px) {
    bottom: 36%;
    left: -4%;
    width: 12%;
  }
}

.text1{
  position: absolute;
  bottom: 37%;
  right: 29%;
  transform: rotate(-2deg);
  color: #17157E;
  font-family: "DM Serif Display", serif;
  font-size: 1.4vw;
  font-style: italic;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 5vw;
    bottom: 46%;
    right: 13%;
  }
}

.text2{
  position: absolute;
  bottom: 33%;
  right: 17%;;
  transform: rotate(2deg);
  color: #17157E;
  font-family: "DM Serif Display", serif;
  font-size: 1.4vw;
  font-style: italic;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 5vw;
    bottom: 41%;
    right: 3%;
  }
}
