.containerQA {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -15%;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.QAs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57%;
  padding: 2.7% 1.3%;
  margin-left: 8%;
  margin-top: 0;
  margin-bottom: 10%;
  border-radius: 1.8vw;
  border: 0.08vw solid #FFF;
  background: linear-gradient(180deg, rgba(218, 248, 179, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80);
  box-shadow: 0 0.17vw 0.17vw 0 rgba(93, 62, 183, 0.25);
  backdrop-filter: blur(0.22vw);



  @media (max-width: 768px) {
    width: 93.1%;
    padding: 8.5% 7%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6.25vw;
    box-shadow: 0 1.25vw 1.25vw 0 rgba(93, 62, 183, 0.25);
    backdrop-filter: blur(1.4vw);
  }

  .bottomText{
    border-top: 1px solid #22BB56;
    padding: 2% 2%;
    width: 100%;
    color: #22BB56!important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: 0.97vw;
    @media (max-width: 768px) {
      font-size: 3.8vw;
      line-height: 3.5vw;
    }
  }
}

.QA{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  .line{
    width: 100%;
  }
  .question{
    width: 100%;
    border-top: 1px solid #22BB56;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .text{
      width: 81.5%;
      margin: 2.5% 0;
      color: #22BB56;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.1vw;
      font-style: normal;
      font-weight: 400;
      line-height: 0.97vw;
      @media (max-width: 768px) {
        font-size: 4.2vw;
        line-height: 3.5vw;
      }
    }
    .arrow{
      width: 8%;
      transition: transform 0.3s ease;
      @media (max-width: 768px) {
        width: 13%;
      }
    }
    .activeArrow{
      transform: translate(0, 90%) rotate(90deg);
    }
  }
}

.text1{
  position: relative;
  margin-top: 5%;
  left: 5%;
  width: 40.3%;
  transform: rotate(-3deg);
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 2.2vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  @media (max-width: 768px) {
    left: 5.4%;
    margin-bottom: 7%;
    width: 95.5%;
    font-size: 5.635vw;
    line-height: 6.25vw;
    transform: rotate(-3deg);
  }
}

.text2{
  position: relative;
  width: 34.5%;
  margin-left: 55.5%;
  transform: rotate(1deg);
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  @media (max-width: 768px) {
    width: 58.125%;
    margin-left: 38%;
    margin-top: 3%;
    color: #5240BC;
    font-size: 3.57vw;
    line-height: 4vw;
    transform: rotate(0deg);
    text-align: right;
  }
}

.text3{
  position: relative;
  margin-left: 67%;
  width: 27.9vw;
  transform: rotate(1deg);
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
}

.toQA{
  width: 69%;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e5e3e3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(5px);
  .tx1{
    color: #000;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4.375vw;
    font-style: normal;
    font-weight: 600;
    margin-right: 20%;
    margin-top: 7%;
  }
  .tx2{
    color: #2DDB9C;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 6.25vw;
    font-style: italic;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 9%;
    margin-bottom: 5%;
  }
  .arrow{
    width: 30%;
    margin-bottom: 7%;
    margin-left: 40%;
  }
}


.glass13{
  position: absolute;
  width: 64.18%;
  height: 64.18vw;
  top: -18vw;
  left: -14%;
  transform: rotate(26.001deg);
  opacity: 0.5;
  filter: blur(0.33vw);
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.glass351{
  position: absolute;
  width: 35%;
  height: 39vw;
  top: 35%;
  right: 9%;
  transform: rotate(52deg);
  opacity: 0.3;
  filter: blur(0.27vw);
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.blur{
  position: absolute;
  width: 48%;
  height: 58vw;
  top: 35%;
  right: 0;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}



