.containerBenefits1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 55vw;
  @media (max-width: 768px) {
    height: 168.75vw;
    margin-top: -28%;
  }
}

.groupInfoImage{
  position: absolute;
  right: 0;
  top: 0;
  width: 41%;
  @media (max-width: 768px) {
    position: absolute;
    right: 6.25%;
    top: 36%;
    width: 87.5%;
  }
}

.customButton{
  position: absolute;
  top: 43%;
  left: 36%;
  border: 0.11vw solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  @media (max-width: 768px) {
    top: 0;
    margin: 1% 19.6% 0 19.6%;
  }
}

.text{
  position: absolute;
  top: 16%;
  left: 21%;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #463A3A;
  font-family: "DM Serif Display", serif;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4vw;
  .tx1{
    margin-bottom: 2%;
  }
  .tx2{
    margin-left: 45%;
  }
  @media (max-width: 768px) {
    width: 80%;
    left: 8.75%;
    font-size: 4vw;
    line-height: 4.5vw;
    .tx1{
      margin-bottom: 5%;
    }
  }
}

.become{
  position: absolute;
  top: 33%;
  right: 43%;
  width: 14%;
  transform: rotate(3deg);
  color: #A650AD;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2vw;
  @media (max-width: 768px) {
    top: 31%;
    right: 2%;
    width: 40%;
    font-size: 4.5vw;
    line-height: 4vw;
    transform: rotate(3deg);
    color: #000;
  }
}

.liquida{
  position: absolute;
  top: 7%;
  left: -8%;
  width: 35%;
  transform: rotate(-10deg);
  opacity: 0.3;
  @media (max-width: 768px) {
    display: none;
  }
}

.toroid{
  position: absolute;
  top: 53%;
  left: 59%;
  width: 6.5%;
  @media (max-width: 768px) {
    top: 53%;
    left: 85%;
    width: 19.5%;
  }
}

.roundCube{
  position: absolute;
  top: 6%;
  left: 13%;
  width: 7.5%;
  @media (max-width: 768px) {
    top: 21%;
    left: -9%;
    width: 24.5%;
  }
}

.djosuText3{
  position: absolute;
  top: 23%;
  left: 0%;
  width: 22%;
  @media (max-width: 768px) {
    display: none;

  }
}

.djosuText3Mobile{
  display: none;
  @media (max-width: 768px) {
    position: absolute;
    display: block;
    top: 70%;
    left: 42%;
    width: 58%;
    z-index: -1;
  }
}

.blur{
  position: absolute;
  top: 5%;
  left: -1%;
  width: 74%;
  z-index: -1;
}
