.containerVacancies {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 768px) {
  }
}

.textTop{
  width: 45.9%;
  margin-top: 15%;
  margin-left: 7.6%;
  color: #4165C0;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  span{
    font-size: 2.1vw;
  }
  .tx2{
    width: 26vw;
    margin-left: 31%;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.textBottom{
  position: absolute;
  top: 76%;
  left: 60%;
  width: 37.7%; //851
  color: #4165C0;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.2vw;
  text-align: right;
  span{
    font-size: 2.1vw;
  }
  .tx1{
    width: 76%;
    margin-right: 5%;
  }
  .tx2{
    width: 86%;
    margin-left: 5%;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.vacancy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19.41%;
  border-radius: 1.6vw;
  border: 0.11vw solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  backdrop-filter: blur(1.3vw);
  @media (max-width: 768px) {
    width: 45.625%;
    border-radius: 3.75vw;
    border: 0.3vw solid #3E3CA1;
    backdrop-filter: blur(3vw);
  }
  .title{
    margin: 17% 0 10% 5%;
    color: #FFF;
    font-family: "DM Serif Display", serif;
    font-size: 2.65vw;
    font-style: italic;
    font-weight: 400;
    line-height: 2.4vw;
    @media (max-width: 768px) {
      font-size: 5.25vw;
      line-height: 5vw;
    }
  }
  .count{
    width: 96.5%;
    padding: 11.4%;
    margin-left: 3%;
    border-radius:  2.65vw 0 0 2.65vw ;
    background: #FFF;
    color: #3C3A8C;
    text-align: center;

    font-family: "PT Mono", monospace;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7vw;
    @media (max-width: 768px) {
      border-radius:  6.25vw 0 0 6.25vw ;
      font-size: 3.75vw;
      line-height: 4vw;
    }
  }
  .respond{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 9% 0 12% 10%;
    padding: 5% 0;
    border-radius: 2.65vw 0 0 2.65vw;
    background: #FFF;

    color: #3C48B6;
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 1.8vw;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 4.375vw;
      border-radius: 6.25vw 0 0 6.25vw;
    }
  }
}

.copywriter{
  position: relative;
  margin-top: -1%;
  margin-left: 38%;
  @media (max-width: 768px) {
    margin-top: 2%;
    margin-left: 48%;
    transform: rotate(3deg);
    z-index: 3;
  }
}

.analyst{
  position: relative;
  transform: rotate(-6deg);
  margin-top: -9%;
  margin-left: 16.4%;
  margin-bottom: 2%;
  border-radius: 1.6vw;
  border: 0.11vw solid #3C95A1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(185, 218, 249, 0.70) 22%, rgba(193, 233, 255, 0.80) 83.5%, rgba(212, 255, 232, 0.40) 100%);
  @media (max-width: 768px) {
    border-radius: 3.75vw;
    margin-top: -21%;
    margin-left: 4%;
  }
  .count{
    padding: 6.4%;
    margin-left: 0;
    margin-right: 3%;
    border-radius: 0 2.65vw  2.65vw 0;
    text-align: start;
    @media (max-width: 768px) {
      border-radius: 0 6.25vw  6.25vw 0;
    }
  }
  .respond{
    @media (max-width: 768px) {
      border-radius: 6.25vw 0 0 6.25vw ;
    }
  }
}

.manager{
  position: absolute;
  transform: rotate(5deg);
  top: 34%;
  left: 60%;
  border: 0.11vw solid #3C95A1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(158, 224, 238, 0.70) 22%, rgba(193, 255, 233, 0.80) 83.5%, rgba(212, 235, 255, 0.40) 100%);
  @media (max-width: 768px) {
    position: relative;
    border-radius: 3.75vw;
    margin-top: -14%;
    margin-left: 49%;
    top: auto;
    left: auto;
  }
  .title{
    margin: 5% 30% 5% 1%;
    @media (max-width: 768px) {
      margin: 6% 30% 7% 1%;
    }
  }
  .count {
    padding: 5.4% 2%;
    border-radius: 2.65vw;
    margin-left: 0;
    @media (max-width: 768px) {
      border-radius: 6.24vw;
    }
  }
}

.liquida{
  position: absolute;
  top: -6%;
  left: -8%;
  width: 36.4%;
  opacity: 0.3;
  filter: blur(0.16vw);
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.blur{
  position: absolute;
  top: 18%;
  left: 0%;
  width: 26.4%;
  height: 31vw;
  z-index: -1;
  @media (max-width: 768px) {
    top: 1%;
    left: 0;
    width: 84.4%;
    height: 89vw;
  }
}

.djosu{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: relative;
    margin-top: -20%;
    margin-left: 0;
    width: 57.4%;
    z-index: -1;
  }

}

.blurRight{
  position: absolute;
  top: 43%;
  right: -15%;
  width:26.6%;
  height: 26.6vw;
  border-radius: 26.6vw;
  background: #C9E8FF;
  filter: blur(13vw);
  @media (max-width: 768px) {
    top: 47%;
    right: -22%;
    width: 48.6%;
    height: 35.6vw;
  }
}


