.QADesigners{
  border: 0.1vw  solid #FFF;
  background: linear-gradient(180deg, rgba(156, 196, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80);
  box-shadow: 0 0.18vw 0.18vw 0 rgba(93, 62, 183, 0.25);
}
.btnDesigners{
  color: #FFF!important;
  border: 0.1vw  solid #8E92F6!important;
  background: linear-gradient(180deg, rgba(75, 149, 235, 0.63) 0%, rgba(139, 199, 255, 0.87) 100%)!important;
}
.questionDesigners{
  color: #2522BB!important;
  border-top: 1px solid #2522BB!important;
}

.QADevelopers{
  background: linear-gradient(180deg, rgba(236, 159, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80)!important;
  box-shadow: 0 0.18vw 0.18vw 0 rgba(93, 62, 183, 0.25)!important;
}
.btnDevelopers{
  color: #FFF!important;
  border: 0.1vw solid #7E108F!important;
  background: linear-gradient(180deg, rgba(253, 148, 255, 0.63) 0%, rgba(253, 139, 255, 0.87) 100%)!important;
}
.questionDevelopers{
  color: #7A2E9E!important;
  border-top: 1px solid #7A2E9E!important;
}

.QATesters{
  border: 0.1vw solid #FFF!important;
  background: linear-gradient(180deg, rgba(179, 248, 199, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80)!important;
  box-shadow: 0 0.18vw 0.18vw 0 rgba(93, 62, 183, 0.25);
}
.btnTesters{
  color: #FFF!important;
  border: 0.1vw solid #A9F68E!important;
  background: linear-gradient(180deg, rgba(30, 197, 117, 0.63) 0%, rgba(154, 231, 203, 0.87) 100%)!important;
}
.questionTesters{
  color: #22B2BB!important;
  border-top: 1px solid #22B2BB!important;
}

.QAStrategists{
  border: 0.1vw solid #FFF;
  background: linear-gradient(180deg, rgba(218, 248, 179, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80);
  box-shadow: 0 0.18vw 0.18vw 0 rgba(93, 62, 183, 0.25);
}
.btnStrategists{
  color: #FFF!important;
  border: 0.1vw solid #A9F68E!important;
  background: linear-gradient(180deg, rgba(30, 197, 67, 0.63) 0%, rgba(154, 231, 171, 0.87) 100%)!important;
}
.questionStrategists{
  color: #22BB56!important;
  border-top: 1px solid #22BB56!important;
}


.QASEO{
  border: 0.1vw solid #FFF;
  background: linear-gradient(180deg, rgba(179, 248, 239, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.80);
  box-shadow: 0 0.18vw 0.18vw 0 rgba(93, 62, 183, 0.25);
}
.btnSEO{
  color: #FFF!important;
  border: 0.1vw solid #8EF6F6!important;
  background: linear-gradient(180deg, rgba(30, 197, 197, 0.63) 0%, rgba(154, 221, 231, 0.87) 100%)!important;
}
.questionSEO{
  color: #2272BB!important;
  border-top: 1px solid #2272BB!important;
}

