.containerMenu{
  position: absolute;
  top: 12.5vw;
  right: 0;
  width: 40%;
  background: #bdbbed;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 4vw;
  z-index: 1;
}

.btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 0!important;
  color: #FFF!important;
  font-family: "Open Sans Hebrew", sans-serif!important;
  font-size: 4.6vw!important;
  font-style: italic!important;
  font-weight: 600!important;
  line-height: 2.5vw!important;
  cursor: pointer;
}
