.containerAboutUs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  margin-top: 10%;
  @media (max-width: 768px) {
    margin-top: -17%;
  }
}

.background{
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  background: #F4F5FF;
  filter: blur(4.43%);
  z-index: -5;
}

.containerCommonLanding{
  @media (max-width: 768px) {
    //margin-top: -38%;
  }
}

.text{
  margin-top: 7%;
  margin-left: 17%;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size:1.4vw;
  font-style: italic;
  font-weight: 400;
  @media (max-width: 768px) {
    display: none;
  }
}

.textCommonLanding{
  @media (max-width: 768px) {
    display: block;
    margin: 0 0 -35% 8%;
    font-size:4.4vw;
  }
}

.containerButtons{
  width: 58%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0 14.5% 16.5%;
  z-index: 3;
  @media (max-width: 768px) {
    width: 86%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4%;
    margin: 41% 0 54.4% 6.25%;
  }
}

.button{
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
  .icon{
    width: 100%;
    height: 100%;
  }
  .name{
    width: 75%;
    margin-top: 5%;
    border-radius: 50px;
    border: 0.1vw solid #142B7C;
    display: inline-flex;
    padding: 2% 4%;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #1C3949;
    font-family: Inter, sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  @media (max-width: 768px) {
    width: 48%;
    .name{
      font-size: 3vw;
      border: 0.3vw solid #142B7C;
    }
  }
}

.customButton{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    padding: 4% 6% !important;
    font-size: 6.5vw !important;
    top: 140vw;
    right: 20%;
  }
}

.plant{
  position: absolute;
  top: -8%;
  left: 0;
  width: 30%;
  z-index: 3;
  @media (max-width: 768px) {
    top: 69%;
    left: -2%;
    width: 44%;
    opacity: 0.7;
    transform: rotate(8deg);
  }
}
.plantCommonLanding{
  @media (max-width: 768px) {
    top: 71%!important;
    left: 0;
    width: 42%;
    opacity: 1;
  }
}

.plantRight{
  display: none ;
  @media (max-width: 768px) {
    position: absolute;
    display: block;
    top: 63%;
    right: 0;
    width: 50%;
    opacity: 0.7;
    z-index: 3;
  }
}

.plantCommonLanding{
  @media (max-width: 768px) {
    top: 63%;
    right: 0;
    width: 50%;
    opacity: 1;
  }
}

.golden{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 2;
  @media (max-width: 768px) {
    bottom: 0;
    left: 26%;
    width: 60%;
  }
}

.rock{
  position: absolute;
  bottom: -35%;
  left: 73.5%;
  width: 40.4%;
  opacity: 0.5;
  filter: blur(0.23vw);
}

.spiral{
  position: absolute;
  top: 12%;
  left: 70%;
  width: 10%;
  z-index: 3;
  @media (max-width: 768px) {
    display: none;
  }
}

.cone{
  position: absolute;
  top: 48%;
  left: 8%;
  width: 10%;
  z-index: 3;
  @media (max-width: 768px) {
    top: 14%;
    left: 77%;
    width: 24%;
  }
}

.starBlack{
  position: absolute;
  top: 18%;
  left: 34%;
  width: 2.5%;
  @media (max-width: 768px) {
    display: none;
  }
}

.starBlackCommon{
  @media (max-width: 768px) {
    display: block;
    width: 7%;
    top: 1%;
    left: 62%;
  }
}

.starWhite{
  position: absolute;
  top: 93%;
  left: 58%;
  width: 11%;
}

.substance{
  display: none;
  position: absolute;
  top: -5%;
  left: 0;
  width: 60%;
  z-index: -1;
  @media (max-width: 768px) {
    display: block;
  }
}

.ellipse{
  position: absolute;
  left: -44%;
  top: 38%;
  width: 85%;
  height: 65%;
  flex-shrink: 0;
  border-radius: 85%;
  background: #E8CBFF;
  filter: blur(42.479251861572266px);
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}



.blurBottom{
  position: absolute;
  width: 42.7%;
  height: 43vw;
  left: 9.3%;
  top: 70%;
  border-radius: 43vw;
  background: #E8CBFF;
  filter: blur(6.64vw);
  z-index: 1;
  @media (max-width: 768px) {
    width: 74%;
    height: 74vw;
    left: -42%;
    top: 52%;
    border-radius:  74vw;
    filter: blur(13.1vw);
    z-index: -1;
  }
}

.blurRight{
  position: absolute;
  width: 28.7%;
  height: 27vw;
  right: 13.1%;
  bottom: 31.7%;
  border-radius: 28.7vw;
  background: #E5EDFF;
  filter: blur(6.64vw);
  z-index: -6;
  @media (max-width: 768px) {
    display: none;
  }
}

.blurForCone{
  position: absolute;
  width: 15.8%;
  height: 15.9vw;
  left: 6.9%;
  bottom: 7.71%;
  border-radius: 15.9vw;
  background: #EEDAFF;
  filter: blur(4.43vw);
  z-index: 2;
  @media (max-width: 768px) {
    display: none;
  }
}

.blurForSpiral{
  position: absolute;
  width: 10.8%;
  height: 10.8vw;
  right: 18.8%;
  bottom: 59%;
  border-radius: 15.8vw;
  background: #FFF;
  filter: blur(4.43vw);
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}


