.containerVacancies {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -45%;
  @media (max-width: 768px) {
    margin-top: -36%;
  }
}

.rectanglesGroup{
  position: relative;
  margin-left: 52.3%;
  width: 39.9%;
  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
}

.text1{
  position: absolute;
  top: 6%;
  right: 12%;
  width: 18%;
  @media (max-width: 768px) {
    top: 5%;
    right: 4%;
    width: 51.25%;
  }
}

.text2{
  position: absolute;
  top: 12%;
  right: 9%;
  width: 21.5%;
  @media (max-width: 768px) {
    top: 12%;
    right: 3%;
    width: 54%;
  }
}

.text3{
  position: absolute;
  top: 25%;
  right: 16%;
  width: 19%;
  @media (max-width: 768px) {
    top: 23%;
    right: 19%;
    width: 54%;
  }
}

.vacancies{
  width: 21.05%;
  height: 21.6vw;
  margin-top: -8%;
  margin-bottom: 15%;
  margin-left: 13.56%;
  display: flex;
  flex-direction: column;
  border-radius: 2.2vw;
  border: 0.11vw solid #3E3CA1;
  background: linear-gradient(180deg, #E3ECFF 0%, rgba(255, 236, 231, 0.70) 36%, rgba(250, 217, 217, 0.50) 53%, #FFD4D4 83.5%, #F0A5A5 100%);
  box-shadow: 0 0 11vw 0 #FFF;
  backdrop-filter: blur(1.1vw);

  transform: rotate(-5deg);
  color: #BE2380;
  font-family: "DM Serif Display", serif;
  font-size: 1.7vw;
  font-style: italic;
  font-weight: 400;
  @media (max-width: 768px) {
    width: 59.37%;
    height: 61vw;
    margin-top: 4.45vw;
    margin-bottom: 20%;
    margin-left: 2%;
    border-radius: 6.25vw;
    border: 0.3vw solid #3E3CA1;
    box-shadow: 0 0 31.25vw 0 #FFF;
    backdrop-filter: blur(3vw);
    font-size: 5vw;
  }
  .tx1{
    margin-top: 12%;
    margin-left: 20%;
    @media (max-width: 768px) {
      margin-left: 15%;
      margin-top: 13%;
    }
  }
  .tx2{
    margin-top: 12%;
    margin-left: 5%;
    @media (max-width: 768px) {
      margin-top: 13%;
    }
  }
}

.star{
  position: absolute;
  width: 12.3%;
  top: 9.75vw;
  right: 37%;
  @media (max-width: 768px) {
    width: 34.6%;
    top: 24.75vw;
    right: 76.25%;
  }
}

.glass{
  position: absolute;
  top: 27.65vw;
  left: 78.8%;
  width: 28.3%;
  transform: rotate(28deg);
  filter: blur(0.14vw);
  @media (max-width: 768px) {
    top: 85.65vw;
    left: 65.3%;
    width: 79.7%;
    filter: blur(0.4vw);
  }
}

.smile{
  position: absolute;
  top: 55vw;
  left: 36.3%;
  width: 15.86%;
  @media (max-width: 768px) {
    top: 163.5vw;
    left: 63.75%;
    width: 44.6%;
  }
}

.spiral{
  position: absolute;
  top: 53vw;
  left: 2.8%;
  width: 33.15%;
  transform: rotate(86deg);
  filter: blur(0.14vw);
  z-index: -1;
  @media (max-width: 768px) {
    top: 154.5vw;
    left: -30%;
    width: 93%;
    filter: blur(0.4vw);
  }
}

.customButton{
  position: absolute;
  top: 27.6vw;
  right: 46.36%;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(249, 185, 231, 0.70) 22%, rgba(246, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%)!important;
  backdrop-filter: blur(1.1vw)!important;
  @media (max-width: 768px) {
    top: 94.6vw;
    right: auto;
    left: -1%;
  }
}

