.answer {
  width: 81.5%;
  text-align: start;
  margin-left: 0.5%;
  color: #22B2BB;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1vw;
  @media (max-width: 768px) {
    font-size: 3.6vw;
    line-height: 4vw;
    width: 100%;
  }
  ul, ol {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    margin-left: 2.3em;
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
  }
  ul li::before {
    content: "•";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-top: 1em;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-top: 1em;
  }
  span {
    font-weight: 600;
  }
  .notLeft {
    position: relative;
    left: -1.5em;
    margin-top: 0.6em;
    font-weight: 300;
  }
  .text {
    margin-bottom: 2%;
    margin-left: 1.8%;
  }
  img {
    margin: 2% 0;
  }
}
