.containerFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  margin-top: -13%;
  @media (max-width: 768px) {
    margin-top: 0%;
  }
}

.profile{
  position: relative;
  width: 59.6%;
  height: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  @media (max-width: 768px) {
    width: 106.8%;
    height: 61.56vw;
  }
  .subtract{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    fill: rgba(255, 255, 255, 0.40);
    stroke-width: 3.932px;
    stroke: #8B89F9;
    backdrop-filter: blur(9.82912540435791px);
  }
  .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 1%;
    .photo{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4%;
      .slider{
        width: 18.1vw;
        height: 18.1vw;
        @media (max-width: 768px) {
          width: 32.5vw;
          height: 32.5vw;
        }
      }
     .arrow{
        width: 2.57vw;
        z-index: 2;
       @media (max-width: 768px) {
         width: 4.68vw;
       }
      }
    }
    .name{
      margin-top: 1.5%;
      color: #463A3A;
      text-align: center;
      font-family: "DM Serif Display", serif;
      font-size: 2.43vw;
      font-style: italic;
      font-weight: 400;
      z-index: 1;
      @media (max-width: 768px) {
        margin-top: 2%;
        font-size: 4.375vw;
      }
    }
  }
}

.feedback{
  position: relative;
  width: 55.8%;
  height: 44vw;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 100%;
    height: 86.8vw;
  }
  .feedbackForm{
    position: absolute;
    top: -34.6%;
    left: 0;
    width: 100%;
    @media (max-width: 768px) {
      top: -23.6%;
      height: 100%;
    }
  }
  .containerText{
    position: relative;
    width: 100%;
    z-index: 3;
    padding: 5.6% 5.6% 0 7.14%;
    .text{
      color: #181764;
      font-family: "PT Mono", monospace;
      font-size: 1.77vw;
      font-style: normal;
      font-weight: 400;
      line-height: 2.25vw;
      margin-bottom: 4.6%;
      @media (max-width: 768px) {
        font-size: 4.375vw;
        line-height: 4.375vw;
      }
    }
  }
  .line{
    width: 65.8%;
    height: 1.8%;
    margin-left: 26.6%;
    border-radius: 3.5vw;
    background: linear-gradient(90deg, #BED4FF 0%, #FFF 100%);
    z-index: 3;
    @media (max-width: 768px) {
      position: absolute;
      bottom: 30%;
    }
  }
}

.customButton{
  margin-top: -12%;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(249, 185, 231, 0.70) 22%, rgba(246, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%)!important;
  backdrop-filter: blur(1.1vw)!important;
  @media (max-width: 768px) {
    margin-left: 25%;
  }
}

.substance{
  position: absolute;
  width: 36.8%;
  height: 33.9vw;
  top: 54%;
  right: -18%;
  filter: blur(0.26vw);
  opacity: 0.5;
  @media (max-width: 768px) {
    display: none;
  }
}

.liquida{
  position: absolute;
  width: 60%;
  height: 65.7vw;
  transform: rotate(33deg);
  top: 33%;
  left: -15%;
  filter: blur(0.21vw);
  opacity: 0.3;
  @media (max-width: 768px) {
    display: none;
  }
}

.star{
  position: absolute;
  top: 31%;
  left: 8.86%;
  width: 8%;
  @media (max-width: 768px) {
    display: none;
  }
}

.glass{
  position: absolute;
  top: -1%;
  left: 2.86%;
  width: 25.75%;
  @media (max-width: 768px) {
    display: none;
  }
}

.glassMobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: relative;
    width: 117%;
    margin-top: -77%;
    right: 47.25%;
    opacity: 0.5;
    filter: blur(5px);
  }
}

.blur{
  position: absolute;
  top: 20%;
  left: -8%;
  width: 34.35%;
  height: 34.2vw;
  border-radius: 34.35vw;
  opacity: 0.4;
  background: #C09DF9;
  filter: blur(12.67vw);
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}
