.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  overflow: hidden;
}

.menu{
  background: linear-gradient(90deg, #E0FFF8 0%, #FFF 100%);
  button{
    color:#1F6054;
  }
}

.burgerMenu{
  background: #E0FFF8FF!important;
  opacity: 0.9;
  button{
    color: #1D8835!important;
  }
}

.title1{
  width: 42%;
  margin-top: 4.5%;
  margin-left: 9.2%;
  padding: 3.76% 4% 3.76% 3.1%;
  transform: rotate(2deg);
  border-radius: 3.8vw;
  border: 0.18vw solid #FFF;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.44vw);
  z-index: 5;
  @media (max-width: 768px) {
    width: 98.5%;
    margin-top: 8.44%;
    margin-left: 13.75%;
    padding: 6% 6.5% 6% 5.8%;
    transform: rotate(2deg);
    border-radius: 9vw;
    border: 0.5vw solid #FFF;
    background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
    backdrop-filter: blur(1.1vw);
  }
  .text1{
    transform: rotate(2deg);
    font-family: Trispace, sans-serif;
    font-size: 5.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(285deg, #31B6D3 27.85%, #9BFFBD 114.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 768px) {
      font-size: 12.5vw;
    }
  }
}

.title2{
  width: 42%;
  margin-top: -8.5%;
  margin-left: 46.6%;
  padding: 3.3% 6.6% 2.57% 5.5%;
  transform: rotate(2deg);
  border-radius: 3.8vw;
  border: 0.18vw solid #FFF;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.44vw);
  z-index: 5;
  @media (max-width: 768px) {
    width: 98.4%;
    margin-top: 1%;
    margin-left: -20.3%;
    padding: 11.5% 7.5% 6% 20%;
    transform: rotate(2deg);
    border-radius: 9vw;
    border: 0.5vw solid #FFF;
    backdrop-filter: blur(1.1vw);
  }
  .text2{
    transform: rotate(-1deg);
    text-align: right;
    font-family: "PT Mono", monospace;
    font-size: 4.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(297deg, #459E8E 12.42%, #31D3C9 83.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 768px) {
      font-size: 10vw
    }
  }
}

.extraMenu{
  width: 34.7%;
  height: 4.7vw;
  margin-top: 2%;
  margin-left: 32.66%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3.68vw;
  background: #fff;
  box-shadow: 0 4.5px 4.5px 0 rgba(98, 204, 159, 0.25);

  color: #284E88;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.52vw;
  z-index: 5;
  @media (max-width: 768px) {
    width:93.1%;
    height: 21.9vw;
    margin-top: 1%;
    margin-bottom: -11%;
    margin-left: 4.7%;
    border-radius: 9.37vw;
    font-size: 5vw;
    line-height: 8vw;
  }
  .btn1{
    transform: rotate(-6deg);
    margin-left: 5%;
    @media (max-width: 768px) {
      margin-left: 3.75%;
      transform: rotate(0deg);
    }
  }
  .btn2{
    color: #288888;
    transform: rotate(0deg);
    margin-left: 5%;
    @media (max-width: 768px) {
      margin-bottom: 11%;
      margin-left: 1.75%;
    }
  }
  .btn3{
    transform: rotate(4deg);
    margin-left: 5%;
    @media (max-width: 768px) {
      margin-top: 11%;
      margin-left: 1.75%;
      transform: rotate(0deg);
    }
  }
  .btn4{
    margin-left: 5%;
    transform: rotate(-4deg);
    color: #288888;
    font-size: 2vw;
    @media (max-width: 768px) {
      margin-left: 3.75%;
      transform: rotate(0deg);
      font-size: 6.25vw;
    }
  }
}

.blur{
  margin-top: -6.5%;
  margin-left: -5.14%;
  margin-bottom: 5%;
  width: 13.3vw;
  height: 13.3vw;
  border-radius: 13.3vw;
  border: 0.18vw solid #FFF;
  background: linear-gradient(180deg, #FFF 0%, rgba(218, 251, 235, 0.26) 100%);
  backdrop-filter: blur(0.48vw);
}

.cube{
  position: absolute;
  top: 11.9vw;
  right: 1.3%;
  width: 27%;
  height: 25vw;
  opacity: 0.5;
  filter: blur(0.3vw);
  z-index: -1;
  @media (max-width: 768px) {
    top: 48vw;
    right: -22%;
    width: 64%;
    height: 63vw;
  }
}

.roundCube{
  position: absolute;
  top: 22.3vw;
  left: 12.54%;
  width: 21.2%;
  height: 18vw;
  transform: rotate(65deg);
  opacity: 0.5;
  @media (max-width: 768px) {
    display: none;
  }
}




