.containerBeforeQADesktop {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 53vw;
  @media (max-width: 768px) {
    display: none;
  }
}

.substanceLeft{
  position: absolute;
  top: -25%;
  left: 0;
  width: 40%;
}

.substanceRight{
  position: absolute;
  top: 60%;
  right: 0;
  width: 18%;
}

.liquidaRight{
  position: absolute;
  top: -25%;
  right: 0;
  width: 40%;
  z-index: 2;

}

.liquidaLeft{
  position: absolute;
  top: 50%;
  left: 0;
  width: 48%;
}

.group{
  position: absolute;
  top: 18%;
  right: 0;
  width: 50%;
  z-index: -2;
  filter: blur(40.526688px);
}

.tex1{
  position: absolute;
  width: 41%;
  top: 40%;
  left: 46%;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8vw;
  span{
    font-size: 1.8vw;
  }
}

.tex2{
  position: absolute;
  width: 32%;
  top: 58%;
  left: 60%;
  color: #000;
  text-align: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8vw;
  }

.baseImage{
  position: absolute;
  top: 52%;
  left: 10%;
  width: 40%;
}
