.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vw;
}

.text1{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 35%;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 2vw;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  .sp1{
    margin-bottom: 5px;
  }
}

.text2{
  position: absolute;
  top: 36%;
  left: 55%;
  width: 36%;
  color: #280C63;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  z-index: 5;
  span{
    color: #8047F9;
  }
}

.heart{
  width: 72%;
  position: absolute;
  top: -37%;
  left: -1%;
}
.liquidaTop{
  width: 16%;
  height: 28%;
  position: absolute;
  top: -11%;
  right: 0;
}

.competitive{
  position: absolute;
  top: 45%;
  left: 20%;
}
.flexible{
  position: absolute;
  top: 55%;
  left: 40%;
}
.professionalTeam{
  position: absolute;
  top: 55%;
  left: 60%;
}
.ProfessionalGrowth{
  position: absolute;
  top: 45%;
  left: 80%;
}

.figure{
  width: 55%;
}
