.containerMobile {
  width: 110%;
  height: 100%;
}

.mainPhotoSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 15%;
  padding-left: 5%;
  padding-bottom: 16%;
}

.imagesWrapper {
  width: 100%;
  text-align: center;
}

.slideContainer {
  display: block;
  position: relative;
  cursor: pointer;
}

.scaleAnimation {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.scaleAnimation:hover {
  transform: scale(1.1);
}

.rotate15 {
  width: 90%;
  transform: translate(0%, 9%) rotate(5deg);
}

.rotate0 {
  transform: translate(4%, 19%) rotate(0deg);
}

.rotate24 {
  width: 87%;
  transform: translate(14%, 6%) rotate(-5deg);
}

.rotate30 {
  width: 87%;
  transform: translate(14%, 6%) rotate(-5deg);
}

.rotate40 {
  width: 90%;
  transform: translate(-11%, -157%) rotate(-39deg)
}



