.containerMobile {
  position: relative;
  width: 146.25%;
  top: -4%;
  left: -20%;
  height: 53.2%;
}

.mainPhotoSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imagesWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.slideContainer {
  height: 100%;
  width: 93.5%;
  display: block;
  position: relative;
  cursor: pointer;
}

.scaleAnimation {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.scaleAnimation:hover {
  //transform: scale(1.1);
}






