.containerFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 50.75vw;
  //overflow: hidden;
  @media (max-width: 768px) {
    height: 223.44vw;
    overflow: hidden;
    margin-top: -57%;
  }
}

.title{
  margin-top: 10%;
  margin-right: 5.4%;
  color: #EBDCFE;
  font-family: "DM Serif Display", serif;
  font-size: 6.7vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4vw;
  @media (max-width: 768px) {
    position: absolute;
    top: 43%;
    right: 0%;
    font-size: 4.375vw;
  }
}

.customButton{
  margin: 5% -20% 0 0;
  border: 0.11vw solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  @media (max-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 41.125%;
    margin: 0 ;
  }
}

.registrationBtn{
  margin-top: 5%;
  margin-right: -20%;
  padding: 2.1% 1.7%;
  border-radius: 1.3vw;
  border: 3px solid #3E3CA1;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(187, 185, 249, 0.70) 22%, rgba(198, 193, 255, 0.80) 83.5%, rgba(231, 212, 255, 0.40) 100%);
  backdrop-filter: blur(1.1vw);
  color: #FFF;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 2.6vw;
  font-style: italic;
  font-weight: 700;
  line-height: 2.5vw;
  z-index: 1;
  @media (max-width: 768px) {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-right: 0;
    left: 41.125%;
    padding: 6% 5%;
    border-radius: 3.75vw;
    border: 1px solid #3E3CA1;
    backdrop-filter: blur(3.125vw);
    font-size: 7.5vw;
    line-height: 7vw;
  }
}

.feedback1{
  position: absolute;
  top: 42%;
  left: 9.7%;
  width: 26%;
  height: 52.1%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 2.77vw;
  border: 0.2vw solid #FFBF85;
  background: linear-gradient(180deg, #FFF1C1 0%, rgba(208, 238, 255, 0.70) 0.01%, rgba(235, 255, 226, 0.50) 53%, #FFF 100%);
  backdrop-filter: blur(1.38vw);
  @media (max-width: 768px) {
    width: 59.4%;
    height: 26%;
    left: 1.5%;
    top: 35.24%;
    border-radius: 6.25vw;
  }
  .text{
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 17.4%;

    color: #175B64;
    font-family: "PT Mono", monospace;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8vw;
    @media (max-width: 768px) {
      font-size: 3.75vw;
      line-height: 4vw;
      width: 85%;
    }
  }

  .name{
    width: 80%;
    height: 14.5%;
    margin-top: 11%;
    margin-right: 20%;
    border-radius: 0 2.2vw  2.2vw 0;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #3C3A8C;
    font-family: "PT Mono", monospace;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    .iconFeedback{
      width: 14%;
      margin: 0 4%;
    }
    @media (max-width: 768px) {
      width: 69%;
      height: 17.2%;
      margin-top: 7%;
      font-size: 3.125vw;
      margin-right: 31%;
      border-radius: 0 6.25vw  6.25vw 0;
    }
  }
}

.feedback2{
  top: 58%;
  left: 44%;
  width: 30.7%;
  height: 41.7%;
  border-radius: 2.2vw;
  border: 0.2vw solid #FF8585;
  background: linear-gradient(180deg, #FFDCDE 0%, rgba(247, 228, 255, 0.70) 18.5%, rgba(255, 221, 237, 0.25) 87.5%, #D4EDFF 100%);
  backdrop-filter: blur(1.1vw);
  @media (max-width: 768px) {
    width: 86.56%;
    height: 26%;
    left: auto;
    right: 0;
    top: 64%;
    border-radius: 6.25vw;
  }
  .text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 5%;
    font-size: 1.3vw;
    line-height: 1.5vw;
    .tx1{
      width: 40.4%;
    }
    .rect{
      width: 2px;
      height: 87.4%;
      border-radius: 2.2vw;
      background: #EBDCFE;
      margin-right: 2%;
    }
    .tx2{
      width: 43.2%;
    }
    @media (max-width: 768px) {
      font-size: 3.75vw;
      line-height: 4vw;
      width: 100%;
      padding: 0 3%;
      .tx1{
        width:  47.4%
      }
      .tx2{
        width: 55.2%;
      }
    }
  }
  .name{
    margin-right: 35%;
    width: 65%;
    margin-top: 7%;
    .iconFeedback{
      width: 12%;
      margin: 0 6%;
    }
    @media (max-width: 768px) {
      margin-top: 7%;
    }
  }
}

.feedback3{
  top: 2%;
  left: 75%;
  width: 21%;
  height: 54.7%;
  border-radius: 2.2vw;
  border: 0.2vw solid #3E3CA1;
  background: linear-gradient(180deg, #E3ECFF 0%, rgba(231, 231, 255, 0.70) 36%, rgba(247, 217, 250, 0.50) 53%, #E7D4FF 100%);
  box-shadow: 0px 0px 11vw 0px #FFF;
  backdrop-filter: blur(1.1vw);
  @media (max-width: 768px) {
    width: 59.4%;
    height: 34.125%;
    top: 0;
    right: 0;
    left: auto;
    border-radius: 6.25vw;
  }
  .text{
    margin-top: 15%;
    font-size: 1.3vw;
    line-height: 1.5vw;
    span{
      margin-top: 10%;
      margin-bottom: 10%;
    }
    @media (max-width: 768px) {
      font-size: 3.75vw;
      line-height: 4vw;
    }
  }
  .name{
    margin-right: -35%;
    border-radius: 2.2vw 0 0 2.2vw;
    width: 65%;
    height: 11.5%;
    .iconFeedback{
      width: 17%;
      margin: 0 4%;
    }
    @media (max-width: 768px) {
      border-radius: 6.25vw 0 0 6.25vw;
      margin-top: 7%;
      height: 12.5%;
    }
  }
}

.rectShadow{
  position: absolute;
  top: 20.5%;
  right: 10.5%;
  width: 15.9%;
  height: 38%;
  border-radius: 2.2vw;
  border: 0.2vw solid #3E3CA1;
  background: linear-gradient(180deg, #C1D6FF 0%, rgba(187, 185, 249, 0.70) 36%, rgba(198, 193, 255, 0.50) 53%, #E7D4FF 100%);
  backdrop-filter: blur(1.1vw);
  z-index: -1;
  @media (max-width: 768px) {
    width: 45%;
    height: 23.6%;
    top: 11.3%;
    right: 17.5%;
    border-radius: 6.25vw;
  }
}

.roundCube{
  position: absolute;
  top: 86%;
  right: 18%;
  width: 12%;
  @media (max-width: 768px) {
    top: 54%;
    right: -8%;
    width: 28%;
  }
}

.pill{
  position: absolute;
  top: 31%;
  left: 15%;
  width: 13%;
  @media (max-width: 768px) {
    top: 29.5%;
    left: 9%;
    width: 29%;
  }
}

.substance{
  position: absolute;
  top: -29%;
  left: 0;
  width: 34%;
  @media (max-width: 768px) {
    display: none;
  }
}

.ellipse{
  position: absolute;
  top: 48%;
  left: 2%;
  width: 19.5%;
  height: 44%;
  border-radius: 20.2vw;
  background: #C5EEFF;
  filter: blur(3.6vw);
  z-index: -1;
  @media (max-width: 768px) {
    top: 40%;
    left: -16%;
    width: 47.5%;
    height: 23%
  }
}
