.container {
  width: 138%;
  height: 100%;
}

.containerMedia{
  width: 175%;
}
.containerTester{
  width: 147%;
  button{
    margin-right: 29%;
  }
}
.containerSEO{
  width: 188%;
  button{
    margin-right: 40%!important;
  }
}

.mainPhotoSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 7vw;
  padding-left: 5vw;
  padding-bottom: 2vw;
}

.imagesWrapper {
  width: 100%;
  text-align: center;
  button{
    padding: 2.3vw 6vw;
    border-radius: 12.5vw;
    border: 0.1vw solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(0.8vw);
    color: #1C3949;
    font-family: Inter, sans-serif;
    font-size: 3.75vw;
    font-weight: 600;
    white-space: nowrap;
  }
  .activeButton{
    color: #FFF;
    border: 0.1vw solid #7E108F;
    background: linear-gradient(180deg, rgba(253, 148, 255, 0.63) 0%, rgba(253, 139, 255, 0.87) 100%);
  }
}

.slideContainer {
  display: block;
  position: relative;
  cursor: pointer;
}

.scaleAnimation {
  width: 74%;
  transition: transform 0.3s ease-in-out;
}

.scaleAnimation:hover {
  transform: scale(1.1);
}

.rotate15 {
  width: 90%;
  transform: translate(15%, -2%) rotate(15deg);
}

.rotate0 {
  transform: translate(4%, 19%) rotate(0deg);
}

.rotate24 {
  width: 90%;
  transform: translate(-2%, -24%) rotate(-24deg);
}

.rotate30 {
  width: 90%;
  transform: translate(-29%, -78%) rotate(-39deg);
}

.rotate40 {
  width: 90%;
  transform: translate(-11%, -157%) rotate(-39deg)
}


