.containerFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-top: -14%;
  }
}

.feedback1{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 32.8%; // 739.557px;
  margin-left: 8.15%;
  border: 0.16vw solid #ffffff;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.26) 100%);
  backdrop-filter: blur(0.4vw);
  @media (max-width: 768px) {
    width: 92.5%; // 296px;
    margin-top: 25vw;
    margin-left: -3%;
    border: 0.45vw solid #ffffff;
    backdrop-filter: blur(1.1vw);
  }
  .photo{
    margin-top: 8.5%;
    margin-left: 3%;
    width: 97%;
    display: flex;
    height: 29.3%;
    flex-direction: row;
    .pillPhoto{
      width: 50%;
      margin-right: -15%;
      z-index: 1;
    }
    .photo1{
      width: 65%;
    }
  }
  .name{
    margin-top: 3%;
    margin-right: 6.63%;
    color: #0E5F5F;
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 1.77vw;
    font-style: normal;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
  .line{
    width: 48.3%;
    margin-top: 1.5%;
  }
  .text{
    color: #0D4B4B;
    font-family: "DM Serif Display", serif;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77vw;
    @media (max-width: 768px) {
      font-size: 3.75vw;
      line-height: 5vw;
    }
  }
  .text1{
    width: 82%;
    margin: 6.8% 3.3% 0 0;
  }
  .text2{
    width: 67.25%;
    margin: 4.8% 3.3% 12% 0;
  }
}

.feedback2{
  margin-top: -3.4%;
  margin-left: 30.8%;
  @media (max-width: 768px) {
    margin-top: 6.5%;
    margin-left: 11.2%;
  }
  .photo{
    .pillPhoto{
      width: 50%;
      margin-left: -15%;
      z-index: 1;
    }
    .photo1{
      width: 65%;
    }
  }
  .name{
    margin-right: 30.44%;
    transform: rotate(-1deg);
  }
  .line{
    margin-right: 24.2%;
  }
  .text1{
    width: 71%;
    margin: 4.4% 19.9% 0 0;
  }
  .text2{
    width: 69.25%;
    margin: 4.8% 21.7% 0 0;
    font-family: "Open Sans Hebrew", sans-serif;
  }
  .text3{
    width: 69.25%;
    margin: 4.8% 21.7% 4% 0;
  }
}

.feedback3{
  position: absolute;
  top: 6.3%;
  right: 3.8%;
  @media (max-width: 768px) {
    position: relative;
    margin-top: 6.25%;
    margin-left: -1.5%;
  }
  .text1{
    width: 69.25%;
    margin: 4.4% 17.4% 0 0;
    font-family: "Open Sans Hebrew", sans-serif;
  }
  .text2{
    width: 77.3%;
    margin: 3% 11.5% 0 0;

  }
  .text3{
    width: 77.3%;
    margin: 3% 11.5% 4% 0;
    font-family: "Open Sans Hebrew", sans-serif;
  }
}

.customButton{
  margin: 1.7% 0 8% 37.8%;
  padding: 1.9% 1.6% !important;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #FFF!important;
  @media (max-width: 768px) {
    margin: 3% 0 10% 18%;
    padding: 6% 5% !important;
    font-size: 7.5vw;
  }
}

.roundCube{
  position: absolute;
  top: 5.1vw;
  left: 3.2%;
  width: 20.5%;
  height: 23.3vw;
  z-index: -1;
  @media (max-width: 768px) {
    top: 47.5vw;
    left: -17%;
    width: 58%;
    height: 66vw;
  }
}

.pill{
  position: absolute;
  top: 18.6vw;
  left: 48.5%;
  width: 18%;
  height: 15.5vw;
  z-index: -1;
  @media (max-width: 768px) {
    top: 0;
    left: 63.5%;
    width: 50.9%;
    height: 43.6vw;
  }
}

.sphere{
  position: absolute;
  top: 0.7vw;
  left: 65%;
  width: 13%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.blurLeft{
  position: absolute;
  top: 25.4vw;
  left: 0.5%;
  width: 18%;
  height: 18vw;
  border-radius: 18vw;
  background: #C5FFFF;
  filter: blur(5.5vw);
  z-index: -2;
  @media (max-width: 768px) {
    top: 196vw;
    left: -5%;
    width: 50%;
    height: 50vw;
    background: #C5FFEA;
    border-radius: 50vw;
  }
}

.blurRight{
  position: absolute;
  top: 36.6vw;
  left: 91.1%;
  width: 18%;
  height: 18vw;
  border-radius: 18vw;
  background: #C5FFEA;
  filter: blur(5.5vw);
  z-index: -2;
  @media (max-width: 768px) {
    top: 306vw;
    left: 57%;
    width: 50%;
    height: 50vw;
    background: #C5FFFF;
    border-radius: 50vw;
  }
}
