.containerFeedback {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vw;
  margin-bottom: -20%;
  @media (max-width: 768px) {
    height: 187vw;
    overflow: hidden;
  }
}

.sliderPhoto{
  position: absolute;
  top: -31%;
  left: -9%;
  width: 80%;
  height: 72%;
  @media (max-width: 768px) {
    top: 1%;
    left: -12%;
    width: 100%;
  }
}

.text{
  position: absolute;
  top: 15%;
  right: 7%;
  display: flex;
  flex-direction: column;
  width: 35%;
  @media (max-width: 768px) {
    top: 68%;
    left: 24%;
    width: 65%;
  }
  .tx1{
    width: 92%;
    color: #463A3A;
    font-family: "DM Serif Display", serif;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 400;
    line-height: 3vw;
    margin-bottom: 3%;
    margin-left: 11%;
    @media (max-width: 768px) {
      font-size: 4.2vw;
      line-height: 5vw;
    }
  }
  .tx2{
    width: 80%;
    color: #463A3A;
    font-family: "DM Serif Display", serif;
    font-size: 2.2vw;
    font-style: italic;
    font-weight: 400;
    line-height: 2vw;
    margin-bottom: 5%;
    @media (max-width: 768px) {
      font-size: 4.2vw;
      line-height: 4vw;
    }

  }
  .tx3{
    color: #5449D9;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.6vw;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 4.6vw;
    }
  }
}

.info{
  position: absolute;
  top: 37%;
  left: 13%;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1%;
  @media (max-width: 768px) {
    top: 44%;
    left: 9%;
  }
}

.subscription{
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 0.5% 2%;
  margin-left: 2%;
  border-radius: 1.77vw;
  border: 0.1vw solid #FFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(0.22vw);
  max-width: 40%;
  @media (max-width: 768px) {
    border-radius: 4vw;
    padding: 2% 4%;
    max-width: 65%;
  }
  .name{
    color: #000;
    font-family: "DM Serif Display", serif;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 3vw;
    padding-right: 4%;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: 4vw;
      line-height: 3vw;
    }
  }
  .profession{
    color: #6D61FD;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 600;
    line-height: 3vw;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: 3vw;
      line-height: 3vw;
    }
  }
}

.feedback{
  max-width: 60%;
  padding: 2%;
  border-radius: 1.77vw;
  border: 0.1vw solid #FFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(0.22vw);

  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2vw;
  @media (max-width: 768px) {
    font-size: 4vw;
    line-height: 5vw;
    max-width: 80%;
    border-radius: 13px;
  }
}

.star{
  position: absolute;
  top: -7%;
  left: 28%;
  width: 4%;
  z-index: 10;
  @media (max-width: 768px) {
    top: 5%;
    left: 53%;
    width: 13%;
  }
}

.cone{
  position: absolute;
  top: 15%;
  left: 6%;
  width: 8%;
  z-index: 10;
  @media (max-width: 768px) {
    display: none;
  }
}

.glass{
  position: absolute;
  top: -25%;
  left: 52%;
  width: 10%;
  z-index: 10;
  @media (max-width: 768px) {
    top: 35%;
    left: 63%;
    width: 35%;
  }
}

.device{
  position: absolute;
  top: 44%;
  left: 3%;
  width: 9%;
  z-index: 1;
  @media (max-width: 768px) {
    display: none;
  }
}

.line{
  position: absolute;
  top: -18%;
  left: 0;
  width: 46%;
  z-index: -1;
  @media (max-width: 768px) {
    top: 0%;
    left: 0%;
    width: 100%;
  }
}

.roundTube{
  position: absolute;
  top: -14%;
  left: 6%;
  width: 6%;
  @media (max-width: 768px) {
    top: 0%;
    left: -4%;
    width: 20%;
  }
}

.ellipse{
  position: absolute;
  top: -14%;
  left: 6%;
  width: 22%;
  height: 22%;
  border-radius: 22vw;
  background: #B1B9FF;
  filter: blur(5vw);
  z-index: -1;
  @media (max-width: 768px) {
    top: 33%;
    left: -7%;
    width: 53%;
    height: 29%;
    filter: blur(13vw);
  }
}

.ellipseText{
  position: absolute;
  top: 4%;
  right: 3%;
  width: 17.72%;
  height: 40.75%;
  flex-shrink: 0;
  border-radius: 50%;
  background: #C5EEFF;
  filter: blur(3vw);
  z-index: -1;

  @media (max-width: 768px) {
    top: 58%;
    right: -9%;
    width: 40.72%;
    height: 23.75%;
    filter: blur(4vw)
  }
}

.ellipseDevice{
  position: absolute;
  top: 22%;
  left: -11%;
  width: 50%;
  height: 50%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}

.whiteBlur{
  position: absolute;
  top: 59%;
  left: 0;
  width: 99.28%;
  height: 32.98%;
  flex-shrink: 0;
  background: #FFF;
  filter: blur(2.32vw);
  z-index: 1;
  @media (max-width: 768px) {
    display: none;
  }
}


