.containerBeforeQA{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  margin-top: -5%;
  @media (max-width: 768px) {
    margin-top: 14vw;
  }
}

.text1{
  width: 34.3%;
  margin-top: 6vw;
  margin-left: 10.41%;
  transform: rotate(-2deg);
  color: #0D8087;
  font-family: "DM Serif Display", serif;
  font-size: 2.1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.9vw;
  @media (max-width: 768px) {
    width: 80.625%;
    margin-left: 9.375%;
    margin-top: 0;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #198953;
  }
}

.text2{
  width: 43.64%;
  margin-top: 3%;
  margin-left: 9.35%;
  transform: rotate(1deg);
  color: #0D8087;
  font-family: "DM Serif Display", serif;
  font-size: 2.1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3.23vw;
  @media (max-width: 768px) {
    width: 58.43%;
    margin-top: 3%;
    margin-left: 44.75%;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #198953;
  }
}

.text3{
  width: 32.9%;
  height: 28.4vw;
  margin-top: -18.8%;
  margin-bottom: 2%;
  margin-left: 55.9%;
  padding: 1.7% 1.8% 4% 3.5%;
  transform: rotate(-5deg);
  border-radius: 2.5vw;
  border: 0.11vw solid #3CA14C;
  background: linear-gradient(180deg, #E3FFEE 0%, rgba(231, 255, 242, 0.70) 36%, rgba(217, 250, 219, 0.50) 53%, rgba(212, 255, 227, 0.41) 83.5%, rgba(165, 240, 236, 0.01) 100%);
  box-shadow: 0 0 13.3vw 0 #FFF;
  backdrop-filter: blur(1.3vw);

  color: #7962D4;
  font-family: "DM Serif Display", serif;
  font-size: 2.1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 3.85vw;
  @media (max-width: 768px) {
    display: none;
    width: 75.5%;
    height: 66.8vw;
    padding: 2.7% 2.8% 5% 4.5%;
    margin-left: -0.25%;
    margin-top: 23.75%;
    margin-bottom: 0;
    border-radius: 6.25vw;
    border: 0.3vw solid #3E3CA1;
    background: linear-gradient(180deg, #E3ECFF 0%, rgba(233, 231, 255, 0.70) 36%, rgba(222, 217, 250, 0.50) 53%, rgba(212, 247, 255, 0.41) 83.5%, rgba(165, 240, 236, 0.01) 100%);
    box-shadow: 0 0 31.25vw 0 #FFF;
    backdrop-filter: blur(3vw);
    color: #7962D4;
    font-size: 5vw;
    line-height: 9vw;
  }
}

.customButton{
  display: none;
  margin-top: -2%;
  margin-left: 67%;
  padding: 1.8% 2.1%;
  border: 0.1vw solid #3CA19B!important;
  background: linear-gradient(180deg, rgba(193, 214, 255, 0.20) 0%, rgba(145, 233, 170, 0.70) 22%, rgba(211, 250, 205, 0.80) 83.5%, rgba(212, 252, 255, 0.40) 100%)!important;
  color: #FFF!important;
  backdrop-filter: blur(1.1vw)!important;
  font-size: 2.65vw!important;
  @media (max-width: 768px) {
    display: block;
    margin: 15% 0 10% 30%;
    padding: 6% 5% !important;
    font-size: 7.5vw!important;
  }
}

.glass{
  position: absolute;
  width: 20.6%;
  top: -5.2%;
  right: 88%;
  transform: rotate(-24deg);
  @media (max-width: 768px) {
    display: none;
    width: 53.125%;
    right: 59%;
  }
}

.arrow{
  position: absolute;
  width: 11.37%;
  top: 68%;
  right: 1.25%;
  @media (max-width: 768px) {
    display: none;
    width: 24.375%;
    top: 81%;
    right: 1.25%;
  }
}

.arrowMobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    width: 29.375%;
    top: 55%;
    left: 6%;
    transform: rotate(71deg);
  }
}

.blur{
  position: absolute;
  width: 25.2%;
  height: 23.5%;
  top: 20vw;
  left: 38.3%;
  border-radius: 25.2vw;
  background: #C5FFF1;
  filter: blur(3.5vw);
  z-index: -1;
  @media (max-width: 768px) {
    width: 47%;
    height: 40vw;
    top: 25%;
    left: -12%;
    background: #DFFFC5;
    filter: blur(8.35vw);
    z-index: -5;
  }
}
