.svgContainer {
  position: absolute;
  width: 44.1%;
  height: 26.3vw;
  top: 12vw;
  right: -20%;
  background: radial-gradient(52.33% 52.16% at 44.99% 59.52%, #5BF5FF 0%, rgba(122, 151, 255, 0.31) 100%);
  filter: blur(8.76vw);
  z-index: -2;
  @media (max-width: 768px) {
    display: none;
  }
}

