.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  overflow: hidden;
}

.menu{
  background: linear-gradient(90deg, #FFE0E5 0%, #F95C76 100%);
  button{
    color: #601F1F;
  }
}

.burgerMenu{
  background: #edbbc1!important;
}

.title{
  width: 44.06%;
  height: 23.49vw;
  margin-top: 7.6%;
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
  border-radius: 3.68vw;
  border: 0.18vw solid #ffffff;
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(0.45vw);

  color: #B40E5E;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-style: italic;
  z-index: 5;
  @media (max-width: 768px) {
    width: 92.5%;
    height: 57.8vw;
    margin-top: 12.5vw;
    margin-left: -6.5%;
    border-radius: 9vw;
    margin-bottom: 44%;
  }
  .text1{
    margin-top: 9%;
    margin-left: 10%;
    width: 49%;
    font-size: 3.05vw;
    @media (max-width: 768px) {
      font-size: 7.5vw;
      width: 56%;
    }
  }
  .text2{
    margin-top: 5%;
    margin-left: 22%;
    width: 69.27%;
    text-align: right;
    font-size: 2.52vw;
    @media (max-width: 768px) {
      width: 77.27%;
      font-size: 6.25vw;
    }
  }
}

.extraMenu{
  width: 34.7%;
  height: 4.7vw;
  margin-top: 1.3%;
  margin-left: 22.11%;
  margin-bottom: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3.68vw;
  background: #fff;
  box-shadow: 0 0.2vw 0.2vw 0 rgba(204, 98, 161, 0.25);

  color: #88283F;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.52vw;
  z-index: 5;
  @media (max-width: 768px) {
    display: none;
  }
  .btn1{
    transform: rotate(-6deg);
    margin-left: 5%;
  }
  .btn2{
    transform: rotate(0deg);
    margin-left: 5%;
  }
  .btn3{
    transform: rotate(4deg);
    margin-left: 5%;
  }
  .btn4{
    margin-left: 5%;
    transform: rotate(-4deg);
    color: #882828;
    font-size: 2vw;
  }
}

.glass{
  position: absolute;
  width: 22.2%;
  transform: rotate(51deg);
  opacity: 0.5;
  filter: blur(0.18vw);
  top: 3%;
  left: -1%;
  z-index: -1;
  @media (max-width: 768px) {
    width: 54.2%;
    top: 59.7vw;
    left: -33%;
  }
}

.cubeLeft{
  position: absolute;
  width: 12.05%;
  height: 21.2vw;
  top: 30vw;
  left: 0;
  z-index: 2;
  @media (max-width: 768px) {
    width: 69.05%;
    height: 93.2vw;
    top: 67vw;
    left: -11%;
    z-index: -1;
  }
}

.cubeRight{
  position: absolute;
  width: 22.29%;
  height: 25.7vw;
  top: 7.35vw;
  right: 0;
  z-index: 2;
  @media (max-width: 768px) {
    width: 48.4%;
    height: 63.1vw;
    top: 18.4vw;
  }
}

.blurLeft{
  position: absolute;
  width: 34.35%;
  height: 34vw;
  top: 25.5vw;
  right: 72%;
  border-radius: 34.35vw;
  opacity: 0.4;
  background: #C09DF9;
  filter: blur(12.7vw);
  @media (max-width: 768px) {
    display: none;
  }
}

.blurRight{
  position: absolute;
  width: 30%;
  height: 34vw;
  top: -4vw;
  right: 3.6%;
  border-radius: 34.35vw;
  background: #F99DDF;
  filter: blur(12.7vw);
  @media (max-width: 768px) {
    width: 50%;
    height: 55vw;
    top: 50vw;
    right: -13.4%;
    filter: blur(20.7vw);
  }

}


