.menu{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 4.2vw;
  gap: 5%;
  backdrop-filter: blur(0.33vw);
  padding-right: 10%;
  z-index: 10;
  button{
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6vw;
    font-style: italic;
    font-weight: 400;
    line-height: 50.262px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    height: 12.8vw;
    padding-right: 6%;
    button{
      width: 7%;
    }
  }
}

.menuBurger{
  width: 100%;
  height: 100%;
}

.logo{
  position: absolute;
  left: 9%;
  width: 6.5%;
  @media (max-width: 768px) {
    width: 21.5%;
    left: 6.25%;
  }
}

