.container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.mainPhotoSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 18%;
  padding-left: 5%;
  padding-bottom: 16%;
}

.imagesWrapper {
  width: 100%;
  text-align: center;
}

.slideContainer {
  display: block;
  position: relative;
  cursor: pointer;
}

.scaleAnimation {
  width: 74%;
  transition: transform 0.3s ease-in-out;
}

.scaleAnimation:hover {
  transform: scale(1.1);
}

.rotate15 {
  width: 90%;
  transform: translate(15%, -2%) rotate(15deg);
}

.rotate0 {
  transform: translate(4%, 19%) rotate(0deg);
}

.rotate24 {
  width: 90%;
  transform: translate(-2%, -24%) rotate(-24deg);
}

.rotate39 {
  width: 90%;
  transform: translate(-29%, -78%) rotate(-39deg);
}

.rotate40 {
  width: 90%;
  transform: translate(-11%, -157%) rotate(-39deg)
}


