.containerBlock78 {
  width: 100%;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 53vw;
  @media (max-width: 768px) {
    height: 200vw;
    display: flex;
    overflow: hidden;
  }
}

.substanceLeft{
  position: absolute;
  top: 20%;
  left: 0;
  width: 52%;
}

.substanceRight{
  position: absolute;
  top: 60%;
  right: 0;
  width: 18%;
}

.liquidaRight{
  position: absolute;
  top: 20%;
  right: -45%;
  width: 69%;
}

.liquidaLeft{
  position: absolute;
  top: -14%;
  left: -14%;
  width: 90%;
  opacity: 0.3;
}

.group{
  position: absolute;
  top: 18%;
  right: 0;
  width: 50%;
  z-index: -2;
  filter: blur(40.526688px);
}

.tex1{
  position: absolute;
  width: 41%;
  top: 40%;
  left: 46%;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 1.6vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8vw;
  span{
    font-size: 1.8vw;
  }
  @media (max-width: 768px) {
    width: 65%;
    top: 5%;
    left: 8%;
    font-size: 3vw;
    line-height: 4vw;
    span{
      font-size: 3.5vw;
    }
  }
}

.tex2{
  position: absolute;
  width: 32%;
  top: 58%;
  left: 60%;
  color: #000;
  text-align: right;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8vw;
  @media (max-width: 768px) {
    width: 52%;
    top: 12%;
    left: 41%;
    font-size: 3vw;
    line-height: 4vw;
  }
}

.toQA{
  position: absolute;
  width: 69%;
  left: 7%;
  top: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e5e3e3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(5px);
  cursor: pointer;
  .tx1{
    color: #000;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    margin-right: 20%;
    margin-top: 7%;
  }
  .tx2{
    color: #4F4BFF;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3.6vw;
    font-style: italic;
    font-weight: 600;
    margin-left: 20%;
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .arrow{
    width: 30%;
    margin-bottom: 7%;
    margin-left: 40%;
  }
}

.text{
  position: absolute;
  top: 48%;
  left: 8%;
  width: 70%;
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 3.4vw;
  font-style: italic;
  font-weight: 400;
  span{
    font-size: 3.7vw;
  }
}

.baseImage{
  position: absolute;
  top: 57%;
  left: 5%;
  width: 73%;
}

.box{
  position: absolute;
  top: 44%;
  left: 81%;
  width: 30%;
  z-index: -1;
}

.spiral{
  position: absolute;
  top: 48%;
  left: 0;
  width: 65%;
  z-index: -2;
}

.substance{
  position: absolute;
  top: 70%;
  right: 74%;
  width: 21%;
}
